<div id="index-page">

    <!-- Schedule Search Bar -->

    <div id="index-schedule-search-bar" class="schedule-search-area-container">

        <span class="title-header no-highlight"
            ng-show="show_index_title_normal">
            Welcome to BCT MyRide
        </span>
        <span class="title-header no-highlight ptr text-shadow-hover" 
            ng-show="show_index_title_with_back_function"
            ng-click="closeMapAndResetTripPlanner();">
            <i class="fa fa-arrow-circle-left"></i> Back to Index - BCT MyRide
        </span>

        <form id="index-search-form" ng-submit="changeURLHash('#routeschedules', 'schedule_search');">
            <input type="text" id="index-search-input" class="form-control needsclick"
                placeholder="Search routes, stops or intersections"
                ng-model="query_data.schedule_search">
            <span id="schedule-search-begin-search-button-top"
            class="schedule-search-top-buttons">
                <i class="fa fa-search link-icon ptr"
                ng-click="changeURLHash('#routeschedules', 'schedule_search');"></i>
            </span>
            <span id="schedule-search-clear-button-top-index"
                class="schedule-search-top-buttons">
                    <i class="fa fa-times-circle link-icon ptr"
                    ng-click="clearSearch('schedule_search');"></i>
            </span>
            <span id="broward-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.broward }}"
                    ng-click="enableAgencyFilter('broward');" src="css/ico/broward_100px.png">
            </span>
            <span id="miami-dade-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.miami }}"
                    ng-click="enableAgencyFilter('miami');" src="css/ico/miami_dade_100px.png">
            </span>
            <span id="palm-beach-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.palm }}"
                    ng-click="enableAgencyFilter('palm');" src="css/ico/palm_100px.png">
            </span>
        </form>
        <div id="schedule-search-area-bottom">
            <div id="schedule-search-area-options-mobile">
                <span id="broward-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.broward }}"
                        ng-click="enableAgencyFilter('broward');" src="css/ico/broward_100px.png">
                </span>
                <span id="miami-dade-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.miami }}"
                        ng-click="enableAgencyFilter('miami');" src="css/ico/miami_dade_100px.png">
                </span>
                <span id="palm-beach-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.palm }}"
                        ng-click="enableAgencyFilter('palm');" src="css/ico/palm_100px.png">
                </span>
            </div>
        </div>

    </div>

    <div class="index-main-container">

        <div class="panel-group" id="recent-accordion">

            <!-- Recently Viewed Schedules -->

            <div class="panel panel-default">
                <h2 class="panel-heading panel-title no-highlight ptr" toggle
                    target="recent-stops" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon"></i>
                    </span>
                    Recently Viewed Schedules
                </h2>
                <div id="recent-stops" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" class="result-filter" ng-model="recentStopFilter"
                            placeholder="Filter stops...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="recent_stop in recently_viewed.stops | filter:{name:recentStopFilter}">
                                <div class="result-icon-container link-icon ptr">
                                    <i class="fa fa-star-o fa-lg"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ recent_stop.name }}
                                </div>
                                <div class="result-icon-container link-icon ptr"
                                    ng-click="toggleMapSchedule();">
                                    <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recently Viewed Trips -->

            <div class="panel panel-default">
                <h2 class="panel-heading panel-title no-highlight ptr" toggle
                    target="recent-trips" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon"></i>
                    </span>
                    Recently Viewed Trips
                </h2>
                <div id="recent-trips" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" class="result-filter" ng-model="recentTripFilter"
                            placeholder="Filter trips...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="recent_trip in recently_viewed.trips | filter:{name:recentTripFilter}">
                                <div class="result-icon-container link-icon ptr">
                                    <i class="fa fa-star-o fa-lg"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ recent_trip.name }}
                                </div>
                                <div class="result-icon-container link-icon
                                    link-icon ptr" ng-click="changeURLHash('#tripplanner')">
                                    <i class="fa fa-chevron-right fa-lg
                                        arrow-right-icon ptr">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <nearest-stops></nearest-stops>

        <!-- Other Index Options -->

        <div id="other-index-options">
            <a>
                <div class="list-group-item list-group-item-custom">
                    Sign in with BCT
                </div>
            </a>
        </div>

    </div>

</div>