<div id="route-schedules-module" ng-controller="routeSchedulesController">
    <div id="schedule-search-area" class="no-highlight">
        <span class="schedule-results-module-title" ng-hide="map_schedule_toggle">
            Search schedules
        </span>
        <span class="schedule-results-module-title no-highlight ptr"
            ng-click="tripPlannerBack();" ng-show="map_schedule_toggle">
            Search schedules
        </span>
        <div id="schedule-search-area-top">
            <span id="schedule-search-back-button">
                <a href="#bctappindex" class="link-icon">
                    <i class="fa fa-arrow-circle-left ptr"></i>
                </a>
            </span>
            <input id="route-stop-search-input" type="text"
                class="form-control needsclick"
                placeholder="Search routes, stops or intersections"
                ng-model="query_data.schedule_search">
            <span id="schedule-search-clear-button-top"
                class="link-icon">
                <i class="fa fa-times-circle ptr"
                    ng-click="clearSearch('schedule_search');"></i>
            </span>
            <span id="broward-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.broward }}"
                    ng-click="enableAgencyFilter('broward');" src="css/ico/broward_fav.png">
            </span>
            <span id="miami-dade-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.miami }}"
                    ng-click="enableAgencyFilter('miami');" src="css/ico/miami_dade_fav.png">
            </span>
            <span id="palm-beach-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.palm }}"
                    ng-click="enableAgencyFilter('palm');" src="css/ico/palm_beach_fav.ico">
            </span>
        </div>
        <div id="schedule-search-area-bottom">
            <div id="schedule-search-area-options-mobile">
                <span id="broward-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.broward }}"
                        ng-click="enableAgencyFilter('broward');" src="css/ico/broward_fav.png">
                </span>
                <span id="miami-dade-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.miami }}"
                        ng-click="enableAgencyFilter('miami');" src="css/ico/miami_dade_fav.png">
                </span>
                <span id="palm-beach-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.palm }}"
                        ng-click="enableAgencyFilter('palm');" src="css/ico/palm_beach_fav.ico">
                </span>
            </div>
        </div>
    </div>

    <div class="panel-group" id="accordion">
        <div id="route-list" class="no-highlight">
            <span class="schedule-results-title">Route Results</span>
            <route-result-panel
            ng-repeat="route in routes_arr | routeFilter:query_data.schedule_search">
            </route-result-panel>
        </div>
        <div id="bstop-list" class="no-highlight">
            <span class="schedule-results-title">Stop and Intersection Results</span>
            <stop-result-panel
            ng-repeat="stop in stops_arr | stopFilter:query_data.schedule_search">
            </stop-result-panel>
        </div>
    </div>
</div>