<div id="route-schedules-module" ng-controller="routeSchedulesController">
    <div id="schedule-search-area" class="schedule-search-area-container
    no-highlight">
        <span class="schedule-results-module-title title-header no-highlight"
            ng-show="show_schedule_results_module_title_normal">
            Search schedules - BCT MyRide
        </span>
        <span class="schedule-results-module-title title-header
            no-highlight ptr text-shadow-hover"
            ng-click="closeMapAndResetTripPlanner();"
            ng-show="show_schedule_results_module_title_with_back_function">
            <i class="fa fa-arrow-circle-left"></i>
            Back to Schedule Search - BCT MyRide
        </span>
        <div id="schedule-search-area-top">
            <span id="schedule-search-back-button"
                class="schedule-search-top-buttons">
                <a href="#bctappindex" class="link-icon">
                    <i class="fa fa-arrow-circle-left ptr"></i>
                </a>
            </span>
            <input id="route-stop-search-input" type="text"
                class="form-control needsclick"
                placeholder="Search routes, stops or intersections"
                ng-model="query_data.schedule_search">
            <span id="schedule-search-clear-button-top"
                class="schedule-search-top-buttons">
                <i class="fa fa-times-circle link-icon ptr"
                    ng-click="clearSearch('schedule_search');"></i>
            </span>
            <span id="broward-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.broward }}"
                    ng-click="enableAgencyFilter('broward');" src="css/ico/broward_100px.png">
            </span>
            <span id="miami-dade-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.miami }}"
                    ng-click="enableAgencyFilter('miami');" src="css/ico/miami_dade_100px.png">
            </span>
            <span id="palm-beach-filter"
                class="link-icon agency-filter schedule-results-icons-inline">
                <img class="agency-filter-icon ptr
                    {{ agency_filter_icon_selection.palm }}"
                    ng-click="enableAgencyFilter('palm');" src="css/ico/palm_100px.png">
            </span>
        </div>
        <div id="schedule-search-area-bottom">
            <div id="schedule-search-area-options-mobile">
                <span id="broward-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.broward }}"
                        ng-click="enableAgencyFilter('broward');" src="css/ico/broward_100px.png">
                </span>
                <span id="miami-dade-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.miami }}"
                        ng-click="enableAgencyFilter('miami');" src="css/ico/miami_dade_100px.png">
                </span>
                <span id="palm-beach-filter-mobile"
                    class="link-icon agency-filter schedule-results-icons-mobile">
                    <img class="agency-filter-icon ptr
                        {{ agency_filter_icon_selection.palm }}"
                        ng-click="enableAgencyFilter('palm');" src="css/ico/palm_100px.png">
                </span>
            </div>
        </div>
    </div>

    <!--  -->

    <div class="schedule-results-main-container">
        <div class="panel-group" id="accordion" ng-show="show_schedule_results_result_panels">
            <div id="bstop-list" class="no-highlight">
                <span class="schedule-results-title title-header">

                    <i class="fa fa-crosshairs ptr"
                    ng-show="show_nearest_results_bstops_location_icon"
                    ng-click="getCurrentLocationAndDisplayData(
                        setNearestResultStopsLocationSpinner,
                        sortResultStopsByDistance
                    );">
                    </i>
                    <i class="fa fa-crosshairs fa-spin"
                    ng-show="show_nearest_results_bstops_location_icon_with_spinner">
                    </i>

                    Stop and Intersection Results

                </span>
                <stop-result-panel
                ng-repeat="stop in stops_arr |
                stopFilter:query_data.schedule_search:sort_bstops_by_distance"
                panel-tracker>
                </stop-result-panel>
            </div>
            <div id="route-list" class="no-highlight">
                <span class="schedule-results-title title-header">
                    Route Results
                </span>
                <route-result-panel
                ng-repeat="route in routes_arr | routeFilter:query_data.schedule_search"
                panel-tracker>
                </route-result-panel>
            </div>
        </div>
    </div>

    <div class="schedule-results-no-results-text"
        ng-show="show_empty_result_message_search_too_short">
        <p>Please enter a search term at least 3 characters long.</p>
        <p>
            For example, if you are looking for
            <em class="hint-text">BCT route 10</em>, try looking for<br>
            <em class="hint-text">"BCT10"</em> instead of just
            <em class="hint-text">"10"</em>.
        </p>
    </div>
    <div class="schedule-results-no-results-text"
        ng-show="show_empty_result_message_no_results">
        <p>Sorry, there are no results for your entry.</p>

        <p>
            Check for typos or try broadening your search by typing in fewer characters.
        </p>
    </div>
</div>