<div id="schedule-full-result" ng-show="show_full_schedule_module">
    <div id="schedule-full-result-dialog">
        <div id="schedule-full-result-dialog-title">
            <div id="schedule-full-result-dialog-pdf" class="link-icon">
                <span class="schedule-full-result-dialog-icon">
                    <i class="fa fa-file-pdf-o fa-2x ptr no-highlight"></i>
                </span>
            </div>
            <div id="schedule-full-result-dialog-info">
                <span id="schedule-full-result-dialog-info-text">
                    January 1st 20XX to December 31st, 20XX
                </span>
            </div>
            <div id="schedule-full-result-dialog-close" class="link-icon"
                ng-click="toggleFullSchedule();">
                <span class="schedule-full-result-dialog-icon">
                    <i class="fa fa-times fa-2x no-highlight ptr"></i>
                </span>
            </div>
        </div>
        <div id="schedule-full-result-dialog-all-days">
            <div>
                <div class="schedule-full-result-day">
                    Choose Date:
                    <quick-datepicker ng-model="full_schedule_date"
                    disable-timepicker="true"></quick-datepicker>
                </div>
                <div class="horizontal-scroll">
                    <div class="schedule-full-result-row">
                        <div class="schedule-full-result-time"
                            ng-repeat="time in schedule.date_pick">
                            <span class="schedule-full-result-time-text">
                                {{ time }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="day in all_days">
                <div class="schedule-full-result-day">
                    {{ day }}
                </div>
                <div class="horizontal-scroll">
                    <div class="schedule-full-result-row">
                        <div class="schedule-full-result-time"
                            ng-repeat="time in schedule.tot">
                            <span class="schedule-full-result-time-text">
                                {{ time }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>