<div id="index-page">
    <form ng-submit="changeURLHash('#routeschedules')">
        <input type="text" class="form-control app-search needsclick"
            placeholder="Search routes, stops or intersections"
            ng-model="query_data.query">
    </form>
    <div class="panel-group" id="recent-accordion">
        <div class="panel panel-default">
            <h2 class="panel-heading panel-title ptr" toggle
                target="recent-stops" ng-click="foldOptions($event);">
                <span class="collapse-button">
                    <i class="fa fa-plus-circle collapse-icon"></i>
                </span>
                Recently Viewed Schedules
            </h2>
            <div id="recent-stops" toggleable active-class="in"
                exclusion-group="accordion1"
                class="panel-collapse collapse">
                <div class="panel-body">
                    <input type="text" class="result-filter" ng-model="recentStopFilter"
                        placeholder="Filter stops...">
                    <div class="list-group scrollable-content stops-list no-highlight">
                        <div class="list-group-item list-group-item-responsive"
                            ng-repeat="recent_stop in recently_viewed.stops | filter:recentStopFilter">
                            <div class="result-icon-container link-icon ptr">
                                <i class="fa fa-star-o fa-lg"></i>
                            </div>
                            <div class="result-list-text">
                                {{ recent_stop.name }}
                            </div>
                            <div class="result-icon-container link-icon ptr"
                                ng-click="toggleMapSchedule();">
                                <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <h2 class="panel-heading panel-title ptr" toggle
                target="recent-trips" ng-click="foldOptions($event);">
                <span class="collapse-button">
                    <i class="fa fa-plus-circle collapse-icon"></i>
                </span>
                Recently Viewed Trips
            </h2>
            <div id="recent-trips" toggleable active-class="in"
                exclusion-group="accordion1"
                class="panel-collapse collapse">
                <div class="panel-body">
                    <input type="text" class="result-filter" ng-model="recentTripFilter"
                        placeholder="Filter trips...">
                    <div class="list-group scrollable-content stops-list no-highlight">
                        <div class="list-group-item list-group-item-responsive"
                            ng-repeat="recent_trip in recently_viewed.trips | filter:recentTripFilter">
                            <div class="result-icon-container link-icon ptr">
                                <i class="fa fa-star-o fa-lg"></i>
                            </div>
                            <div class="result-list-text">
                                {{ recent_trip.name }}
                            </div>
                            <div class="result-icon-container link-icon
                                link-icon ptr" ng-click="changeURLHash('#tripplanner')">
                                <i class="fa fa-chevron-right fa-lg
                                    arrow-right-icon ptr">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-menu">
        <a href="#tripplanner">
            <div class="list-group-item list-group-item-custom">
                Plan a trip
            </div>
        </a>
        <a href="#neareststops">
            <div class="list-group-item list-group-item-custom">
                Find nearest stops
            </div>
        </a>
        <a>
            <div class="list-group-item list-group-item-custom">
                Sign in with BCT
            </div>
        </a>
    </div>
</div>