<div ng-controller="nearestStopsController">
    <div id="nearest-stops-header" class="no-highlight">
        <span id="nearest-stops-header-back">
            <a href="#bctappindex" class="link-icon-rev">
                <i class="fa fa-arrow-circle-left ptr"></i>
            </a>
        </span>
        <span>Nearest Stops</span>
    </div>

    <div class="panel-group" id="accordion">
        <div id="bstop-list" class="no-highlight">
            <div class="panel panel-default" ng-repeat="stop in stops">
                <h2 class="panel-heading panel-title route-title ptr" toggle
                    target="{{ stop.id }}" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon ptr"></i>
                    </span>
                    {{ stop.stop_id }} {{ stop.inter }}
                </h2>
                <div id="{{ stop.id }}" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" class="result-filter" ng-model="routeFilter.f"
                            placeholder="Filter routes...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="route in stop.route_refs | filter:routeFilter.f">
                                <div class="result-icon-container">
                                    <i class="fa fa-star-o fa-lg favorite-route-icon ptr"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ route.number }} {{ route.name }} {{ route.direction }}
                                </div>
                                <div class="result-icon-container ptr" ng-click="toggleMapSchedule();">
                                    <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>