<div ng-controller="routeSchedulesController">
    <div id="schedule-search-area">
        <span id="schedule-search-back-button"
            class="no-highlight">
            <a href="#bctappindex" class="link-icon">
                <i class="fa fa-arrow-circle-left no-highlight ptr"></i>
            </a>
        </span>
        <input id="route-stop-search-input" type="text"
            class="form-control app-search needsclick"
            placeholder="Search routes, stops or intersections">
        <span id="schedule-search-clear-button-top"
            class="search-clear-button link-icon">
            <i class="fa fa-times-circle no-highlight ptr"
                ng-click="clearSearch($event);"></i>
        </span>
    </div>

    <div class="panel-group" id="accordion">
        <div id="route-list" class="no-highlight">
            <span class="schedule-results-title">Route Results</span>
            <div class="panel panel-default" ng-repeat="route in routes">
                <h2 class="panel-heading panel-title route-title ptr" toggle
                    target="{{ route.id }}" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon"></i>
                    </span>
                    {{ route.number }} {{ route.name }} {{ route.direction }}
                </h2>
                <div id="{{ route.id }}" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" class="result-filter" ng-model="bstopFilter.f"
                            placeholder="Filter stops...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="stop in route.bstop_refs | filter:bstopFilter.f">
                                <div class="result-icon-container">
                                    <i class="fa fa-star-o fa-lg favorite-route-icon"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ stop.stop_id }} {{ stop.inter }}
                                </div>
                                <div class="result-icon-container ptr" ng-click="toggleMapSchedule();">
                                    <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="bstop-list" class="no-highlight">
            <span class="schedule-results-title">Stop and Intersection Results</span>
            <div class="panel panel-default" ng-repeat="stop in stops">
                <h2 class="panel-heading panel-title route-title ptr" toggle
                    target="{{ stop.id }}" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon"></i>
                    </span>
                    {{ stop.stop_id }} {{ stop.inter }}
                </h2>
                <div id="{{ stop.id }}" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" class="result-filter" ng-model="routeFilter.f"
                            placeholder="Filter routes...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="route in stop.route_refs | filter:routeFilter.f">
                                <div class="result-icon-container">
                                    <i class="fa fa-star-o fa-lg favorite-route-icon ptr"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ route.number }} {{ route.name }} {{ route.direction }}
                                </div>
                                <div class="result-icon-container ptr" ng-click="toggleMapSchedule();">
                                    <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>