<div id="trip-planner-module" ng-controller="tripPlannerController">
    <div id="planner-top-bar">
        <div id="planner-top-inputs" class="no-highlight">
            <span id="planner-embed-back" class="planner-embed-option">
                <a href="#bctappindex">
                    <i class="fa fa-arrow-circle-left ptr link-icon"></i>
                </a>
            </span>
            <span id="planner-embed-gps" class="planner-embed-option">
                <i class="fa fa-crosshairs ptr"></i>
            </span>
            <span id="start-input">
                <span class="input-title">Start</span>
                <input class="planner-input" type="text">
            </span>
            <span id="planner-embed-swap" class="planner-embed-option">
                <i class="fa fa-exchange ptr"></i>
            </span>
            <span id="finish-input">
                <span class="input-title">Finish</span>
                <input class="planner-input" type="text">
            </span>
            <span id="planner-embed-prefs" class="planner-embed-option">
                <i class="fa fa-cog ptr" ng-click="toggleTripOptions();"></i>
            </span>
        </div>
        <div id="planner-mobile-controls" class="no-highlight">
            <span id="planner-mobile-back" class="planner-mobile-option">
                <a href="#bctappindex">
                    <i class="fa fa-arrow-circle-left ptr link-icon"></i>
                </a>
            </span>
            <span id="planner-mobile-gps" class="planner-mobile-option">
                <i class="fa fa-crosshairs ptr"></i>
            </span>
            <span id="planner-mobile-swap" class="planner-mobile-option">
                <i class="fa fa-exchange ptr"></i>
            </span>
            <span id="planner-mobile-prefs" class="planner-mobile-option">
                <i class="fa fa-cog ptr" ng-click="toggleTripOptions();"></i>
            </span>
        </div>
        <div id="planner-option-bar" ng-show="show_trip_options">
            <span class="planner-pref-option">
                <input type="radio" name="planner-options">
                <span class="planner-pref-option-title">
                    Fastest route
                </span>
            </span>
            <span class="planner-pref-option">
                <input type="radio" name="planner-options">
                <span class="planner-pref-option-title">
                    Fewest transfers
                </span>
            </span>
            <span class="planner-pref-option">
                <input type="radio" name="planner-options">
                <span class="planner-pref-option-title">
                    Least walking
                </span>
            </span>
            <span class="planner-pref-option">
                <switch class="planner-option-switch"></switch>
                <span class="planner-pref-option-title">
                    Community busses
                </span>
            </span>
        </div>
    </div>
    <div id="planner-map-canvas"></div>
</div>