/* START Main Container */

#bct-app {
    border-width: 0px;
    position: relative;
    width: 100%;
    height: 54em;
    font-family: helvetica neue;
    margin-bottom: 1em;
}

/* END Main Container */

/* START Generic Classes */

.ptr {
    cursor: pointer !important;
}
.horizontal-scroll {
    width: 100%;
    overflow: auto;
    overflow-x: scroll;
    border-style: dotted;
    border-width: 1px;
    position: relative;
}
.app-area-modal {
    position: absolute;
    width: 100%;
    height: 100%;
}
.panel-group,
.panel-title {
    line-height: 1.5em !important;
    padding: 0.5em !important;
}
.panel-group {
    margin-bottom: 0px;
}
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.hide-scroll {
    overflow: hidden !important;
}
a.link-icon,
a.link-icon-rev {
    opacity: 1 !important;
    text-decoration: none !important;
}
.link-icon,
.link-icon:focus {
    color: #333 !important;
}
.link-icon:hover,
.link-icon-active {
    color: #555 !important;
}
.link-icon-rev,
.link-icon-rev:focus {
    color: #fff !important;
}
.link-icon-rev:hover,
.link-icon-rev:active {
    color: #ddd !important;
}
img {
    max-width: none !important;
}
.fbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
em.hint-text {
    font-style: normal;
    color: orangered;
    font-weight: 400;
}
.text-shadow-hover:hover {
    text-shadow: 0px 0px 6px;
}
.text-shadow-hover-icon:hover {
    text-shadow: 0px 0px 0px;
}
#main-app-space {
    height: calc(100% - 5em);
}
.icon-legend-modal {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0em;
    left: 0em;
}
.icon-legend-contents {
    position: relative;
    background-color: #FFF;
    height: 10em;
    width: 10em;
    left: calc(50%);
    top: calc(50%);
}
#index-page,
#route-schedules-module {
    height: calc(100% - 1em);
}
.agency-filter,
.search-top-buttons {
    display: table-cell;
    text-align: center;
    font-size: 1.5em;
    border-style: dotted;
}
.navigation-bar-main-contents {
    display: table-cell;
    vertical-align: middle;
}
.navigation-bar-directions {
    display: table-cell;
    font-size: 3em;
    vertical-align: middle;
    width: 2em;
    border-style: dotted;
}
.navigation-bar-last-item {
    border-width: 0px 1px 0px 0px;
}
.navigation-bar-next-item {
    border-width: 0px 0px 0px 1px;
}
#map-canvas {
    height: 100%;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
}
.map-panel-button {
    font-size: 1.3em;
    font-weight: 400;
}
.map-canvas-full-screen {
    position: fixed !important;
    width: calc(100% - 6em) !important;
    height: calc(100% - 8.5em) !important;
    left: 3em;
    top: 3em;
    z-index: 1031;
}
.map-full-screen-button,
.map-full-screen-return-button {
    border-style: dotted;
    border-width: 1px 0px 0px;
    padding: 0.5em 1em calc(0.5em + 3px);
    background-color: #FFF;
}
.map-full-screen-button {
    position: relative;
}
.map-full-screen-return-button {
    position: fixed;
    width: calc(100% - 4.6em);
    bottom: 1.9em;
    left: 2.3em;
    z-index: 1031;
}
.map-full-screen-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0em;
    top: 0em;
    z-index: 1030;
}
.info-corner-icon {
    display: inline-block;
    float: right;
    margin: 0em 0.2em 0em 0em;
}
.search-clear-button {
    width: 1.6em;
    border-width: 0px 2px 0px 1px;
}
.search-submit-button {
    background-color: #fff;
    width: 1.6em;
    border-width: 0px 0px 0px 2px;
}
.search-area-contents {
    display: table;
    width: 100%;
    padding: 0.5em 0em;
}
.search-input-field {
    position: relative;
    display: table-cell;
}

/* END Generic Classes */

/* START Index Page */

#index-page {
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    overflow: auto;
}
.schedule-search-area-container {
    position: relative;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px dashed #555;
}
#index-schedule-search-bar {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 1;
}
#index-search-input {
    width: calc(100% - 0.5em);
    margin-left: -0.5em;
}
#recent-accordion {
    padding: 0px !important;
    text-align: left;
    margin-top: 1em;
}
#recent-accordion .panel-title {
    padding: 0.5em !important;
}
#recent-accordion .panel-group {
    padding: 0px !important;
}
#recent-accordion .panel-body {
    padding: 0px;
}
#recent-accordion .panel-body .list-group {
    margin-bottom: 0px;
}
#recent-accordion .panel-body .stops-list {
    height: 10em;
}
#nearest-stops-module {
    text-align: left;
    margin: 1em 0em;
}
#nearest-stops-header {
    margin-bottom: -1px;
}
#nearest-stops-header:hover {
    text-shadow: 0px 0px 12px;
}
#nearest-stops-accordion {
    padding: 0em 0em 0.5em 0em !important;
}
#nearest-stops-accordion .panel-body {
    padding: 0px;
}
#nearest-stops-accordion .panel-body .stops-list {
    height: 10em;
}
#nearest-stops-accordion .panel {
    margin-bottom: -1px;
}
#other-index-options {
    margin-bottom: 1em;
}
.list-group-item-custom {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #DDD;
    margin: 10px 0px;
}

/* END Index Page */

/* START Schedule Map */

#schedule-map {
    text-align: center;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: calc(1.5em + 3px);
    left: 0px;
    z-index: 1029;
    height: calc(100% - 8em - 3px);
}
iframe #schedule-map {
    position: fixed;
    top: calc(2em + 1px);
    height: calc(100% - 8em);
}
.schedule-map-planner-inserted {
    height: calc(100% - 5em + 1px) !important;
}
#schedule-map-loading-modal {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1030;
}
iframe #schedule-map-loading-modal {
    position: fixed;
    height: 60em;
}
#schedule-map-loading-modal-spinner {
    font-size: 3em;
    position: relative;
    top: 7em;
}
iframe #schedule-map-loading-modal-spinner {
    top: 6em;
}
#schedule-map-top-panel {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    box-shadow: 0px 0px 5px 0px;
    z-index: 1;
    position: relative;
}
#schedule-map-info {
    position: relative;
    width: 100%;
    overflow: auto;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
}
.schedule-map-mini-schedule-spacer {
    background-color: white;
    display: inline-block;
    margin-left: 4px;
}
.schedule-map-mini-schedule-button,
.schedule-map-mini-schedule-time,
#schedule-map-mini-schedule {
    background-color: white;
    border-style: solid;
    border-width: 0px;
    display: table-cell;
    vertical-align: middle;
}
#schedule-map-mini-schedule {
    width: 100%;
    overflow: hidden;
    border-width: 0px;
}
#schedule-map-hide {
    
}
#schedule-map-next {
    
}
#schedule-map-prev {
    
}
#schedule-map-view-full {
    
}
#schedule-map-alert-area {
    border-style: solid;
}
#schedule-map-info-bar {
    
}
#schedule-map-alert-area {
    background-color: white;
    border-width: 1px 0px 1px 0px;
}
.schedule-map-mini-schedule-button {
    width: 3em;
    font-size: 1.5em;
}
#schedule-map-mini-schedule-time-group {

}
.schedule-map-mini-schedule-time {
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
}
.schedule-map-mini-schedule-time:last-child {
    border-width: 0px 1px;
    border-style: solid solid solid dashed;
}
.schedule-map-mini-schedule-time:first-child {
    background-color: #CCC;
    border-left: 0px;
}
.schedule-map-mini-schedule-time {
    width: 50em;
    font-weight: 400;
    padding: 0.5em 0em;
}
#schedule-map-alert-area {
    text-align: left;
    padding: 0.25em 0.5em;
}
#schedule-map-alert-area-icon {
    font-size: 1.4em;
    position: relative;
    bottom: .245em;
}
#schedule-map-alert-area-text {
    position: relative;
}
.marker-info-window {
    height: 12em;
    font-weight: bold;
    padding: 0.5em;
    width: 16em;
    text-align: left;
    display: table;
    font-size: 1.1em;
}
.marker-info-window span {
    display: table-row;
}
.marker-info-window span span {
    display: inline;
}
#map-loading-screen {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1029;
    position: fixed;
    top: 0px;
    left: 0px;
}
schedule-map-navigation-bar {
    border-style: dotted solid dashed;
    border-width: 1px 0px;
    background-color: white;
    padding: 1em 0em 1.5em;
}
.schedule-map-navigation-bar-small {
    padding: 0.5em 0em 0.8em;
}
.schedule-map-navigation-bar-activation-button {
    
}
.schedule-map-navigation-bar-loading {
    
}
.schedule-map-navigation-bar-spinner-modal {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: calc(1.5em + 1px);
}
.schedule-map-stop-navigation-bar {
    height: 3em;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
    display: table;
    table-layout: fixed;
}
.schedule-map-navigation-bar-contents {
    font-size: 1.5em;
}
.schedule-map-navigation-bar-contents-description {
    display: block;
    font-size: 0.8em;
    margin: -0.3em 0em 0.3em 0em;
    font-weight: 400;
}

/* END Schedule Map */

/* START Schedule Full Result Dialog */

#schedule-full-result {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    position: relative;
}
#schedule-full-result-dialog {
    position: relative;
    width: 100%;
    background: white;
    height: 45em;
    overflow: auto;
}
#schedule-full-result-dialog-title {
    position: relative;
    height: 5em;
    width: 100%;
    background: white;
    padding: 0.6em 0em;
    border-style: dotted;
    margin-bottom: -0.9em;
    border-width: 0px 0px 1px;
    display: table;
}
#schedule-full-result-dialog-pdf,
#schedule-full-result-dialog-info,
#schedule-full-result-dialog-close {
    height: 100%;
    background: white;
    display: table-cell;
    vertical-align: middle;
}
#schedule-full-result-dialog-pdf,
#schedule-full-result-dialog-close {
    width: 5em;
    cursor: pointer;
}
#schedule-full-result-dialog-info {
    border-style: dotted;
    border-width: 0px 3px;
    overflow: auto;
    padding: 0em 0.5em;
}
.schedule-full-result-dialog-icon {
    font-size: 3em;
}
#schedule-full-result-dialog-info-text {
    position: relative;
    font-size: 1.4em;
    overflow: auto;
    max-height: 5em;
    display: inline-block;
}
#schedule-full-result-dialog-all-days {
    padding: 1em;
}
.schedule-full-result-day {
    font-size: 1.2em;
    margin: 4px 0px;
    text-align: left;
    height: 2.2em;
    display: table-cell;
    vertical-align: middle;
    font-weight: 400;
}
.schedule-full-result-day .quickdate-popup {
    z-index: 3;
    top: auto;
    margin: 0em 0em 0px -5em;
}
#planner-option-date .quickdate-popup {
    margin: 1em 0em 0em -9em;
}
.schedule-full-result-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    font-size: 1.2em;
}
.schedule-full-result-loading-modal {
    position: absolute;
    width: calc(100% - 2em);
    height: 5em;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}
.schedule-full-result-loading-modal-spinner {
    font-size: 2em;
    line-height: 2.4em;
}
.schedule-full-result-time {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    height: 3.3em;
    width: 3.3em;
    display: table-cell;
    vertical-align: middle;
}
.search-bar-icon-lower-1,
.search-bar-icon-lower-2 {
    position: relative;
}
.search-bar-icon-lower-1 {
    top: 0.1em;
}
.search-bar-icon-lower-2 {
    top: 0.15em;
}

/* END Schedule Full Result Dialog */

/* START Route Schedules Page + Nearest Stops */

#route-schedules-module {
    position: relative;
    background-color: white;
    z-index: 1;
}
.input-area {
    position: relative;
}
#route-stop-search-input {
    width: calc(100% - 1em);
    margin-left: 0.5em;
}
#schedule-search-area {
    background-color: #fff;
}
#schedule-search-area {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-style: dashed;
    border-width: 0px 0px 1px;
    z-index: 1;
}
.schedule-results-icons-inline {
    display: table-cell;
}
#schedule-search-area-bottom {
    display: none;
    width: 100%;
    padding: 0em 1em 0.5em;
    background-color: #FFF;
}
.agency-filter {
    border-width: 0px 0px 0px 1px;
    width: 4em;
}
.agency-filter:first-child {
    border-width: 0px;
}

/* Lack of selectors in the following refers to directives */
mobile-filter-icons {
    display: table;
    width: 100%;
    border-width: 1px 0px 0px;
    border-style: dotted;
    padding: 0.5em 0em 0em;
}
inline-filter-icons {
    display: inline-table;
    width: 100%;
}

.agency-filter-icon {
    height: 1.5em;
}
.agency-filter-icon-selected {
    box-shadow: 0px 0px 4px 1px #017AC2;
}
#schedule-search-back-button {
    border-width: 0px 2px 0px 0px;
}
#schedule-search-clear-button-top {
    border-width: 0px 2px 0px 1px;
}
#bstop-list {
    margin-bottom: 0.5em;
}
#route-list {
    
}
.title-header {
    font-family: verdana;
    background: none repeat scroll 0% 0% #017AC2;
    color: #FFF;
    font-weight: 400;
    width: 100%;
    display: block;
    padding: 0.1em 0em 0.1em 0.5em;
    text-align: left;
    font-size: 18px;
}
.trip-planner-module-title-map {
    box-shadow: 0px 1px 4px 0px black;
    z-index: 1029;
    padding: 0.1em 0em 0.4em 0.5em;
}
.schedule-results-main-container,
.index-main-container {
    position: relative;
    height: 32.5em;
    height: calc(100% - 6em);
    overflow: auto;
}
#accordion {
    
}
.route-title {
    position: relative;
}
.collapse-button {
    display: inline-block;
}
.stops-list {
    height: 165px;
    border-style: dotted;
    border-width: 1px;
    border-color: #CCC;
}
.list-group-item-responsive {
    height: 3em;
    overflow: auto;
    padding: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.result-filter {
    width: 100%;
}
.result-list-text,
.result-icon-container {
    display: table-cell;
    vertical-align: middle;
}
.result-list-text {
    border-style: dotted;
    border-width: 0px 0px 0px 1px;
    padding: 0px 10px;
}
.result-icon-container {
    text-align: center;
    width: 3em;
}
.result-icon-container-right {
    border-style: dotted;
    border-width: 0px 0px 0px 1px;
}
.arrow-right-icon {
    cursor: default;
}
.pdf-icon {
    margin-right: 5px;
    cursor: pointer;
}
.schedule-results-no-results-text {
    position: absolute;
    top: 5em;
    left: 1em;
    font-size: 1.5em;
    padding: 1em;
    border-style: dashed;
    border-width: 1px;
    border-color: orangered;
    width: 93%;
    width: calc(100% - 2em);
    line-height: 1.5em;
    z-index: -1;
}

/* END Route Schedules Page + Nearest Stops */

/* START Trip Planner */

#planner-top-bar {
    padding: 0.5em;
    position: relative;
}
.trip-planner-module-title {
    border-bottom: solid black 1px;
}
#trip-planner-input-options {
    padding: 0em 0.5em;
}
#start-input,
#finish-input {
    display: inline-table;
    width: 37%;
    vertical-align: middle;
}
.input-title {
    display: table-cell;
    vertical-align: middle;
    width: 3em;
}
.planner-input {
    display: table-cell;
    width: 100%;
}
#planner-top-inputs {
    display: inline;
    width: 100%;
}
#submit-trip {
    display: none;
}
.planner-embed-option {
    font-size: 1.3em;
    display: inline-block;
    position: relative;
    top: 0.15em;
}
#planner-embed-back {
    border-style: dotted;
    padding: 0.2em 0.7em 0.3em 0.4em;
    border-width: 0px 1px 0px 0px;
}
#planner-embed-gps {
    margin: 0% 1% 0% 1%;
}
#planner-embed-swap {
    margin: 0% 2%;
}
#planner-embed-prefs {
    margin-left: 0.5em;
}
#planner-embed-enter {
    margin-left: calc(20% - 5.1em);
}
#planner-mobile-controls,
.planner-mobile-option {
    border-style: dotted;
}
#planner-mobile-controls {
    display: none;
    width: 100%;
    text-align: center;
    border-width: 0px 0px 1px;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em 0em;
    font-size: 1.2em;
}
.planner-mobile-option {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
    border-width: 0px 0px 0px 1px;
}
.planner-mobile-option:first-child {
    border-width: 0px;
}
#planner-option-bar {
    background: none repeat scroll 0% 0% #FFF;
    width: 100%;
    border-style: dotted;
    border-width: 1px 0px;
    text-align: center;
    padding: 0.5em 0em;
    margin: 0em 0em 1em;
    position: absolute;
    z-index: 1031;
    top: -7em;
    /*
    top: calc(-7.5em + 5px);
    */
    left: 0em;
}
.trip-marker-info-window {
    width: 14em;
    display: table;
}
.trip-marker-info-window span {
    display: table-row;
}
.trip-marker-info-window span em {
    font-style: normal;
    font-weight: bold;
}
#planner-option-optimization,
#planner-option-transit-modes,
#planner-option-date {
    
}
#planner-option-transit-modes {
    margin: 0.5em 0px;
}
.switch,
.switch-handle {
    height: 1.2em !important;
}
.switch {
    display: inline-block !important;
    top: 4px;
    width: 3.5em !important;
}
.switch-handle {
    width: 1.2em !important;
}
.planner-option-switch {
    display: table-cell;
}
.planner-pref-option {
    
}
.planner-pref-option-title {
    margin: 0em 0em 0em 0.2em;
}
#trip-planner-itinerary-selector-modal {
    position: absolute;
    background-color: #000;
    height: calc(100% - 7em + 4px);
    width: 100%;
    top: 3.5em;
    left: 0px;
    z-index: 1029;
    opacity: 0.3;
}
iframe #trip-planner-itinerary-selector-modal {
    position: fixed;
    top: 4em;
}
#trip-planner-itinerary-selector {
    position: absolute;
    top: 8em;
    left: calc(50% - 10em);
    width: 20em;
    background-color: #FFF;
    z-index: 1030;
    border-style: solid;
    border-width: 1px;
}
iframe #trip-planner-itinerary-selector {
    position: fixed;
}
.trip-planner-itinerary-selector-pushed {
    top: 6.5em !important;
}
#trip-planner-itinerary-selector-title {
    border-style: solid;
    border-width: 0px 0px 1px;
}
#trip-planner-itinerary-panel-area {
    width: 100%;
    display: table;
    margin-top: -1px;
    font-size: 1.1em;
}
.trip-planner-itinerary-panel {
    border-style: solid;
    border-width: 1px;
    height: 10em;
    width: 100%;
    display: table-row;
}
.trip-planner-itinerary-panel-smaller {
    height: 9em;
}
.trip-planner-itinerary-labels {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-width: 1px 0px 0px;
    border-style: solid;
}
.trip-planner-itinerary-step {
    
}
.trip-planner-itinerary-arrow {
    
}
.trip-planner-itinerary-transit-type-icon {
    width: 2em;
}
.trip-planner-itinerary-time-range {
    margin: 0.5em;
}
.trip-planner-itinerary-duration {
    font-weight: bold;
}
.trip-planer-itinerary-navigation-step {
    display: inline-block;
    margin: 0.1em;
}
.trip-planer-itinerary-navigation-step:last-child {
    color: white;
}
.trip-planer-itinerary-navigation-step img:hover,
.trip-planner-itinerary-step-highlighted {
    box-shadow: 0px 0px 1px 2px yellow;
}
trip-planner-navigation-bar {
    border-style: dotted solid dashed;
    border-width: 1px 0px;
    background-color: white;
    padding: 1em 0em 2em 0em;
}
.trip-planner-itinerary-navigation-bar {
    height: 4em;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
    display: table;
    table-layout: fixed;
}
#trip-planner-dialog {
    background-color: #F2CD00;
    position: absolute;
    z-index: 1029;
    border-radius: 10px;
    padding: 0.5em;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
iframe #trip-planner-dialog {
    position: fixed;
}
.trip-planner-dialog-start,
.trip-planner-dialog-finish {
    bottom: 3.5em;
}
.trip-planner-dialog-start {
    left: calc(5% + 4em);
}
.trip-planner-dialog-finish {
    left: calc(45% + 5em);
}
iframe .trip-planner-dialog-start,
iframe .trip-planner-dialog-finish {
    bottom: 15.5em;
}
.trip-planner-dialog-start:after,
.trip-planner-dialog-finish:after,
.trip-planner-dialog-centered:after {
    content: "";
    position: absolute;
    width: 0px;
    border-width: 1.5em 0.75em 0em;
    border-style: solid;
    border-color: #F2CD00 transparent;
    top: calc(2.5em - 1px);
    left: 1em;
}
.trip-planner-dialog-centered {
    left: calc(50% - 7.5em);
    bottom: calc(12.5em - 3px);
    width: 15em;
    text-align: center;
}
.trip-planner-dialog-centered:after {
    border-style: none;
}
.trip-planner-dialog-faded-out {
    opacity: 0;
}
.trip-planner-dialog-faded-in {
    opacity: 1;
}

/* END Trip Planner */

/* START All Media Queries */

@media (max-width: 600px), (min-width: 900px) and (max-width: 1500px) {
    #main-app-space {
        height: calc(100% - 11em);
    }

    /* Schedule Map */
    #schedule-map {
        height: calc(100% - 14em);
    }
    .schedule-map-planner-inserted {
        height: calc(100% - 11em + 1px) !important;
    }
    .schedule-map-mini-schedule-button {
        width: 2em;
        font-size: 1em;
    }
    schedule-map-navigation-bar {
        padding: 1em 0em 2em;
    }
    .schedule-map-navigation-bar-contents {
        font-size: 1.1em;
    }

    /* Schedule Results */
    #schedule-full-result-dialog {
        height: 39em;
    }
    #schedule-full-result-dialog-info-text {
        font-size: 1em;
    }
    .schedule-full-result-dialog-icon {
        font-size: 2em;
    }
    #schedule-full-result-dialog-pdf,
    #schedule-full-result-dialog-close {
        width: 3.5em;
    }
    #schedule-full-result-dialog-title {
        height: 4em;
    }
    .schedule-full-result-row {
        font-size: 1em;
    }
    .search-clear-button {
        border-width: 0px 0px 0px 1px;
    }
    .schedule-results-icons-inline {
        display: none;
    }
    #schedule-search-clear-button-top {
        border-width: 0px 0px 0px 1px;
    }
    #schedule-search-area-bottom {
        display: block;
    }
    #accordion {
        top: 9em;
    }
    .schedule-results-no-results-text {
        top: 7em;
    }
    .schedule-results-main-container,
    .index-main-container {
        height: 30em;
        height: calc(100% - 9em);
    }

    /* Trip Planner */
    .planner-pref-option,
    .planner-option-switch {
        display: inline-block;
    }
    #trip-planner-itinerary-selector {
        top: 7em;
    }
    .trip-planner-itinerary-selector-pushed {
        top: 6em !important;
    }
    #trip-planner-itinerary-selector-modal {
        height: calc(100% - 13em + 4px);
    }
    .trip-planner-itinerary-panel-smaller {
        height: 8.5em;
    }
    .navigation-bar-directions {
        width: 1.5em;
        font-size: 2em;
    }
    #planner-top-inputs {
        display: block;
        border-spacing: 0px;
    }
    #planner-mobile-controls {
        display: table;
    }
    .planner-embed-option {
        display: none;
    }
    #start-input,
    #finish-input {
        display: table;
        width: 100%;
        margin: 0em 0em 0.5em;
    }
    .trip-planner-dialog-start,
    .trip-planner-dialog-finish {
        left: 4em;
    }
    .trip-planner-dialog-start {
        bottom: 5.5em;
    }
    .trip-planner-dialog-finish {
        bottom: 3em;
    }
    .trip-planner-dialog-centered {
        bottom: 8em;
    }
}

/* END All Media Queries */