/* START Main Container */

#bct-app {
    position: relative;
    padding-top: 2em;
    width: 100%;
    height: 48em;
    font-size: 14px !important;
    font-family: verdana !important;
    line-height: 1.5em !important;
}

/* END Main Container */

/* START Generic Classes */

#bct-app h2 {
    font-family: verdana !important;
}
.ptr {
    cursor: pointer !important;
}
.horizontal-scroll {
    width: 100%;
    overflow: auto;
    overflow-x: scroll;
    border-style: dotted;
    border-width: 1px;
    position: relative;
}
.panel-group {
    margin-bottom: 0px;
}
.panel-title {
    line-height: 1.2em !important;
    padding: 0.4em !important;
    font-size: 1.4em !important;
}
.panel-default .panel-body {
    border-top: 1px dashed #555 !important;
    padding: 0.5em !important;
    line-height: 1.2em !important;
}
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.hide-scroll {
    overflow: hidden !important;
}
.link-icon,
.link-icon:focus {
    color: #333 !important;
}
.link-icon:hover,
.link-icon-active {
    color: #555 !important;
}
.link-icon-rev,
.link-icon-rev:focus {
    color: #fff !important;
}
.link-icon-rev:hover,
.link-icon-rev:active {
    color: #ddd !important;
}
img {
    max-width: none !important;
}
.fbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
em.hint-text {
    font-style: normal;
    color: orangered;
    font-weight: 400;
}
.exclamation-icon-red {
    color: rgb(255,130,120);
}
.text-shadow-hover:hover {
    text-shadow: 0px 0px 6px;
}
.text-shadow-hover-icon:hover {
    text-shadow: 0px 0px 0px;
}

.myride-title-shadow {
    box-shadow: 0px 6px 6px -5px #000;
}
#main-app-space {
    height: calc(100% - 7.5em);
}
#index-page,
#route-schedules-module,
#nearest-map-stops {
    height: calc(100% - 1em);
}
.myride-main-loading-modal {
    position: absolute;
    width: 100%;
    height: calc(100% + 2em);
    top: -1em;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    z-index: 1;
}
.myride-main-loading-modal-contents {
    font-size: 1.5em;
    line-height: 1.5em;
    position: relative;
    height: 100%;
    width: 100%;
}
.myride-main-loading-modal-splash-graphic {
    width: 100%;
    height: calc(100% - 4em);
}
.myride-main-loading-modal-text {
    
}
.myride-main-loading-modal-spinner {
    font-size: 1.5em;
}
.agency-filter,
.search-top-buttons {
    display: table-cell;
    text-align: center;
    font-size: 1.5em !important;
    border-style: dotted;
}
.navigation-bar-main-contents {
    display: block;
    overflow: auto;
}
.navigation-bar-directions {
    display: table-cell;
    font-size: 3em;
    vertical-align: middle;
    width: 2em;
    border-style: dotted;
}
.navigation-bar-last-item {
    border-width: 0px 1px 0px 0px;
}
.navigation-bar-next-item {
    border-width: 0px 0px 0px 1px;
}
#map-canvas {
    height: 100%;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
}
.map-canvas-full-screen {
    position: fixed !important;
    width: calc(100% - 6em) !important;
    height: calc(100% - 8.5em) !important;
    left: 3em;
    top: 3em;
    z-index: 1031;
    -webkit-transform: none !important;
}
.map-full-screen-button {
    position: relative;
}
.map-full-screen-activate-button {
    
}
.map-full-screen-activate-button-schedule-map {
    border-width: 1px 0px 0px !important
}
.map-full-screen-return-button {
    position: fixed;
    width: calc(100% - 4.6em);
    bottom: 1.7em;
    left: 2.3em;
    z-index: 1031;
}
.map-full-screen-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0em;
    top: 0em;
    z-index: 1030;
}
.map-panel-button {
    
}
.info-corner-icon {
    display: inline-block;
    float: right;
    margin: 0em 0.2em 0em 0em;
}
.all-routes-button,
.search-clear-button {
    width: 1.6em;
}
.all-routes-button {
    border-width: 0px 1px 0px 1px;
}
.search-clear-button {
    border-width: 0px 2px 0px 0px;
}
.search-submit-button {
    background-color: #fff;
    width: 1.6em;
    border-width: 0px 0px 0px 2px;
}
.search-area-contents {
    display: table;
    width: 100%;
    padding: 0.5em 0em;
}
.search-area-contents input {
    padding: 0em 0.2em;
}
.search-input-field {
    position: relative;
    display: table-cell;
}
.single-button-bar {
    font-size: 1.3em;
    font-weight: 400;
    border-style: dotted;
    border-width: 1px 0px;
    padding: 0.3em 0em;
    background-color: #FFF;
    text-align: center;
}
.icon-legend-modal {
    position: absolute;
    width: 100%;
    height: calc(100% - 0.7em);
    left: 0em;
    top: 2em;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1035;
}
.icon-legend-title-bar {

}
.icon-legend-title-bar-close {
    float: right;
    margin: 0em 0.2em 0em 0em;
}
.icon-legend-contents {
    position: relative;
    top: 50%;
    left: 50%;
    width: calc(100% - 4em);
    height: 43em;
    margin: -21.5em 0% 0% calc(-50% + 2em);
    background-color: #FFF;
}
.icon-legend-contents-main-container {
    padding: 1em;
    height: calc(100% - 1.7em);
    overflow: auto;
}
.icon-legend-item {
    position: relative;
    border-style: solid;
    border-width: 1px;
    height: 5em;
    margin: 0em 0em 1em 0em;
    box-shadow: 2px 2px 5px -1px;
}
.icon-legend-module-name-and-icon {
    display: inline-block;
    height: 100%;
    width: 8em;
    text-align: center;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}
.icon-legend-module-name {
    display: block;
    height: 1.7em;
    font-weight: 400;
    border-style: solid;
    border-width: 1px 0px;
    background-color: #017AC2;
    color: white;
}
.icon-legend-module-name:first-child {
    border-width: 0px 0px 1px;
}
.icon-legend-icon {
    display: block;
    font-size: 2em;
}
.icon-legend-icon-fa {
    padding: 0.25em 0em 0em;
}
.icon-legend-icon-image {
    padding: 0.15em 0.75em 0em;
}
.icon-legend-image-contents {
    height: 1.3em;
}
.icon-legend-description {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: calc(100% - 8em);
    padding: 0em 0em 0em 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}

.global-alerts-header-contents {
    position: absolute;
    top: -0.8em;
    border-style: solid;
    border-width: 1px;
    border-color: #BBB;
}
.alerts-header-contents {
    width: 100%;
    height: 2.2em;
    text-align: left;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 2px 7px 5px -5px #555;
    z-index: 1;
}
.alert-area-icon {
    position: relative;
    font-size: 1.4em;
    background-color: #FFF;
    border-style: dotted;
    padding: 0.2em 0.5em 0em;
    height: 100%;
    display: inline-block;
    z-index: 1;
}
.alert-area-highlighted {
    background-color: #017AC2;
    color: white !important;
    border-color: white !important;
}
.alert-area-left {
    border-width: 0px 2px 0px 0px;
}
.alert-area-pause {
    float: right;
    border-width: 0px;
}
.alert-area-right {
    float: right;
    border-width: 0px 2px;
}
.alert-header-message {
    position: absolute;
    top: 0.2em;
    left: 3em;
    opacity: 1;
    transition: left 1s, opacity 1s;
}
.alert-header-message-hidden-right {
    opacity: 0;
    left: 100%;
}
.alert-header-message-hidden-left {
    opacity: 1;
    left: -100%;
}
.alert-header-message-hidden-no-transition {
    transition: none !important;
}

#bct-app .quickdate  {
    font-weight: 700;
    margin: 0.2em;
}
#bct-app .quickdate input {
    font-size: inherit !important;
}
#bct-app .quickdate-popup {
    line-height: 1em;
    font-weight: normal;
    font-size: inherit !important;
    z-index: 1;
}

.error-dialog-centered {
    left: calc(50% - 7.5em);
    bottom: calc(12.5em - 3px);
    width: 15em;
    text-align: center;
}
.error-dialog-faded-out {
    opacity: 0;
}
.error-dialog-faded-in {
    opacity: 1;
}

/* END Generic Classes */

/* START Index Page */

#index-page {
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    overflow: auto;
}
.schedule-search-area-container {
    position: relative;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px dotted #000;
}
#index-schedule-search-bar {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 1;
}
#route-stop-search-index-input {
    width: calc(100% - 0.5em);
}
#recent-accordion {
    text-align: left;
}
.panel-body .list-group {
    margin-bottom: 0em;
}
#recent-accordion .panel-body .stops-list {
    height: 10em;
}
.recent-trip-submit-trip {
    border-style: dotted;
    border-width: 0px 0px 0px 1px;
}
#nearest-stops-module {
    text-align: left;
    margin: 1em 0em;
}
#nearest-stops-header:hover {
    text-shadow: 0px 0px 12px;
}
#nearest-stops-accordion {
    padding: 0em 0em 0.5em 0em !important;
}
#nearest-stops-accordion .panel-body {
    padding: 0px;
}
#nearest-stops-accordion .panel-body .stops-list {
    height: 10em;
}
#nearest-stops-accordion .panel {
    margin-bottom: -1px;
}
#other-index-options {
    margin-bottom: 1em;
}
.list-group-item-custom {
    border-width: 1px 0px;
    border-style: solid;
    border-color: #DDD;
    margin: 10px 0px;
}

/* END Index Page */

/* START Schedule Map */

#schedule-map {
    text-align: center;
    height: calc(100% - 11.5em);
    width: 100%;
    margin: calc(2em - 1px) 0em 0em;
    position: absolute;
    top: calc(1.5em + 3px);
    left: 0px;
    z-index: 1029;
}
.schedule-map-full-screen {
    position: fixed !important;
    height: 100% !important;
}
#schedule-map-loading-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1030;
}
#schedule-map-loading-modal-spinner {
    font-size: 3em;
    position: relative;
    top: calc(50% - 0.5em);
}
iframe #schedule-map-loading-modal-spinner {
    top: 6em;
}
#schedule-map-top-panel {
    position: relative;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    z-index: 1;
}
#schedule-map-info {
    position: relative;
    width: 100%;
    overflow: auto;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    box-shadow: 2px 7px 5px -5px #555;
}
.schedule-map-mini-schedule-spacer {
    background-color: white;
    display: inline-block;
    margin-left: 4px;
}
.schedule-map-mini-schedule-button,
.schedule-map-mini-schedule-time,
#schedule-map-mini-schedule {
    background-color: white;
    border-style: solid;
    border-width: 0px;
    display: table-cell;
    vertical-align: middle;
}
#schedule-map-mini-schedule {
    width: 100%;
    overflow: hidden;
    border-width: 0px;
}
.schedule-map-mini-schedule-no-data {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    position: absolute;
    width: calc(100% - 4.5em);
}
.schedule-map-mini-schedule-button {
    width: 3em;
    font-size: 1.5em;
}
#schedule-map-mini-schedule-time-group {

}
.schedule-map-mini-schedule-time {
    width: 50em;
    height: 3em;
    line-height: 1em;
    font-weight: 400;
    padding: 0.3em 0.1em;
    border-style: dashed;
    border-width: 0px 0px 0px 1px;
}
.schedule-map-mini-schedule-time:last-child {
    border-width: 0px 1px;
    border-style: solid solid solid dashed;
}
.schedule-map-mini-schedule-time:first-child {
    background-color: #CCC;
    border-left: 0px;
}
.schedule-map-mini-schedule-time-text {
    
}
.schedule-map-mini-schedule-time-eta {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    padding: 0.5em 0em 0em;
}
em.maker-info-window-title {
    font-weight: 700;
    font-style: normal;
}
.schedule-map-info-box,
.trip-planner-info-box {
    font-size: 12px;
    line-height: 1.5em;
    color: #FFFFFF;
}
.schedule-map-info-box {
    padding: 0.5em;
}
.schedule-map-info-box {
    width: 210px !important;
    height: 95px !important;
}
.schedule-map-info-box img {
    z-index: 1;
}
.trip-planner-info-box {
    width: 200px !important;
    height: 103px !important;
}
.schedule-map-info-box-top {
    background-color: #888;
    height: 3.5em;
    padding: 0.3em 30px 0em 0.5em;
    border-radius: 0.5em 0.5em 0em 0em;
    overflow-y: scroll;
    direction: rtl;
    text-align: left;
}
.schedule-map-info-box-top-contents {
    width: 100%;
    direction: ltr;
}
.schedule-map-info-box-bottom {
    background-color: #CCC;
    height: calc(100% - 11px);
    border-radius: 0em 0em 0.5em 0.5em;
    overflow-y: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 0em 0em 0.5em 0.5em;
    border-color: #AAA;
}
.schedule-map-info-box:after,
.trip-planner-info-box:after {
    top: 100%;
    left: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border: solid transparent;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #888;
    border-width: 9px;
    margin-left: -10px;
}
.trip-planner-info-box:after {
    border-top-color: #444;
}
.schedule-map-info-box a {
    color: yellow !important;
}

.route-alert-overlay-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1033;
}
.route-alert-overlay-main-container {
    position: relative;
    height: 16em;
    width: 20em;
    left: calc(50% - 10em);
    top: calc(50% - 8em);
    background-color: #FFFFFF;
}
.route-alert-overlay-change-alert {
    display: inline-block;
    font-size: 2em;
    position: absolute;
    top: 3.5em;
}
.route-alert-overlay-prev-alert {
    left: 0.2em;
}
.route-alert-overlay-next-alert {
    right: 0.2em;
}
.route-alert-overlay-alerts-container {
    display: inline-block;
    position: relative;
    width: calc(100% - 4.5em);
    height: calc(100% - 5.5em);
    top: 1em;
    border-style: dashed;
    border-width: 2px;
    padding: 0.5em;
    overflow-y: auto;
}
.route-alert-overlay-exit {
    display: inline-table;
    border-style: solid;
    border-width: 2px;
    border-color: #333;
    padding: 0em 1em;
    border-radius: 0.5em;
    height: 2em;
    background-color: #FFFFFF;
    margin: 1.1em 0em 0em 2em;
}
.route-alert-overlay-exit-text{
    vertical-align: middle;
}
.route-alert-overlay-counter {
    position: relative;
    float: right;
    top: 1.5em;
    right: 1em;
}

.myride-info-box-contents {
    position: absolute;
    height: calc(100% - 32px);
    width: 100%;
    top: 2px;
    left: 0px;
}
.myride-info-box-contents span {
    font-weight: 400;
    display: table-row;
}
.myride-info-box-contents span span {
    display: inline;
}
.schedule-map-info-box-route-icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 6px;
    text-align: center;
    fill: #FFFFFF;
}
.schedule-map-info-box-route-icon:nth-last-child(-n+4) {
    margin: 6px 6px 9px;
}
.schedule-map-info-box-route-icon svg {
    transform: scale(0.9);
}
.info-window-associated-routes {
    display: block;
    position: relative;
    width: 160px;
    height: 42px;
    overflow-y: auto;
}
.schedule-map-info-box-route-icon:hover,
.schedule-map-info-box-route-icon:first-child {
    fill: #017AC2;
}
.schedule-map-info-box-route-icon:first-child {
    margin: 6px 7px 0px 10px;
}
.schedule-map-info-box-route-icon:first-child svg {
    transform: scale(1);
}
.schedule-map-info-box-route-icon:first-child .schedule-map-info-box-route-id {
    font-size: 13px;
    bottom: 10px;
}
.schedule-map-info-box-route-id {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 9px;
    font-size: 1em;
    font-weight: 700;
    color: #FFFFFF;
}
.schedule-map-info-window-schedule-contents {
    position: absolute;
    width: 100%;
    padding: 0.3em;
    top: calc(10em + 22px);
    left: 0em;
    background-color: #888;
    border-radius: 0.5em;
}

#map-loading-screen {
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1029;
    position: fixed;
    top: 0px;
    left: 0px;
}
schedule-map-navigation-bar {
    border-width: 1px 0px !important;
    padding-left: 0em !important;
    padding-right: 0em !important;
}
.schedule-map-navigation-bar-activation-button {
    
}
.schedule-map-navigation-bar-loading {
    
}
.schedule-map-navigation-bar-spinner-modal {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: calc(1.5em + 1px);
}
.schedule-map-stop-navigation-bar {
    height: 3em;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
    display: table;
    table-layout: fixed;
    font-size: 0.7em;
}
.schedule-map-navigation-bar-contents {
    position: relative;
    font-size: 1.5em;
    height: 2.2em;
}
.schedule-map-navigation-bar-contents-description {
    display: block;
    font-size: 0.8em;
    margin: -0.3em 0em 0.2em 0em;
    font-weight: 400;
}
.schedule-map-navigation-bar-contents-info {
    
}

/* END Schedule Map */

/* START Schedule Full Result Dialog */

#schedule-full-result {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.5);
    position: relative;
}

.schedule-full-result-pdf-selector-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0em;
    left: 0em;
}
.schedule-full-result-pdf-selector {
    background-color: #FFFFFF;
    height: 4em;
    width: 20em;
    position: relative;
    left: calc(50% - 10em);
    top: calc(50% - 2.5em);
    border-radius: 0.5em;
    border-style: solid;
    border-width: 3px;
    border-color: #017AC2;
}
.schedule-full-result-pdf-selector-button-panel {
    height: 2em;
    position: relative;
    top: calc(50% - 1em);
}
.schedule-full-result-pdf-selector-button {
    display: inline-table;
    border-style: solid;
    border-width: 2px;
    border-color: #333;
    padding: 0em 1em;
    border-radius: 0.5em;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0em 0.5em;
}
.schedule-full-result-pdf-selector-button:hover,
.route-alert-overlay-exit:hover {
    border-color: #AAA;
    color: #777;
}
.schedule-full-result-pdf-selector-button-text {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

#schedule-full-result-dialog {
    position: relative;
    width: 100%;
    background: white;
    height: 36em;
    overflow: auto;
}
#schedule-full-result-dialog-title {
    display: table;
    position: relative;
    font-size: 0.8em;
    height: 5em;
    width: 100%;
    background: white;
    padding: 0.6em 0em;
    border-style: dotted;
    margin-bottom: -0.9em;
    border-width: 0px 0px 1px;
}
#schedule-full-result-dialog-pdf,
#schedule-full-result-dialog-info,
#schedule-full-result-dialog-close {
    height: 100%;
    background: white;
    display: table-cell;
    vertical-align: middle;
}
#schedule-full-result-dialog-pdf,
#schedule-full-result-dialog-close {
    width: 5em;
    cursor: pointer;
}
#schedule-full-result-dialog-info {
    border-style: dotted;
    border-width: 0px 3px;
    overflow: auto;
    padding: 0em 0.2em;
}
.schedule-full-result-dialog-icon {
    font-size: 3em;
}
#schedule-full-result-dialog-info-text {
    position: relative;
    font-size: 1.4em;
    display: inline-block;
    width: 100%;
}
#schedule-full-result-dialog-all-days {
    padding: 1em;
}
.quickdate-button {
    padding: 0.1em 0.3em;
}
#planner-option-date .quickdate-popup {
    margin: 3.4em 0em 0em -9em;
    top: -263px;
}
.schedule-full-result-row {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    font-size: 1.2em;
}
.schedule-full-result-no-data-modal {
    position: absolute;
    width: calc(100% - 2em);
    height: calc(5em + 2px);
    z-index: 1;
}
.schedule-full-result-no-data-modal {
    background-color: rgba(220, 220, 220, 0.7);
}

#full-schedule-accordion {
    border-color: #DDD;
    border-style: solid;
    border-width: 1px 0px 0px;
    margin: 0.5em 0em 0em 0em;
}
.full-schedule-title {
    display: block;
    text-align: left;
}
.full-schedule-category-panel-main-container {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}
.full-schedule-panel-contents,
.full-schedule-panel-times {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-rule: 0.3em outset #BBB;
    -moz-column-rule: 0.3em outset #BBB;
    column-rule: 0.3em outset #BBB;
    overflow: auto;
}
.full-schedule-panel-contents-with-datepicker,
.full-schedule-panel-contents {
    padding: 1px;
    border-style: dashed;
    border-width: 1px 0px 0px;
}
.full-schedule-panel-contents {
    max-height: 17.5em;
}
.full-schedule-panel-times {
    font-size: 0.9em;
    max-height: 18.5em;
}
/* Webkit handles column content differently */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .full-schedule-panel-times {
        max-height: none !important;
        height: calc(18em + 16px) !important;
    }
}
.full-schedule-category-loading-modal-datepick {
    position: absolute;
    font-size: 2em;
    padding: 6.8em;
    top: 2em;
    left: 0px;
    height: calc(100% - 2em);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.full-schedule-panel-contents-with-datepicker {
    
}
.full-schedule-datepicker-container {
    background-color: #AAA;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: #777;
    margin: 0px 0px 1px 0px;
    padding: 0.15em 0px 0px 0px;
}
.full-schedule-datepicker-container .quickdate-popup {
    top: 134px;
}
.full-schedule-hour {
    display: block;
    margin: 0px 0px 1px 0px;
    border-style: dotted;
    border-width: 0px 0px 1px;
    background-color: #EEE;
}
.full-schedule-hour-title,
.full-schedule-minute {
    display: table-cell;
    height: 2em;
    width: 2em;
    border-width: 0px 2px 0px 0px;
    border-style: solid dotted solid solid;
    border-color: #777;
    vertical-align: middle;
    background-color: #DDD;
}
.full-schedule-hour-title {
    background-color: #AAA;
    color: #FFF;
}
.full-schedule-minute {
    background-color: #DDD;
}

.icon-lower-1,
.icon-lower-2,
.icon-lower-3 {
    position: relative;
}
.icon-lower-1 {
    top: 0.05em;
}
.icon-lower-2 {
    top: 0.10em;
}
.icon-lower-3 {
    top: 0.15em;
}

/* END Schedule Full Result Dialog */

/* START Route Schedules Page + Nearest Stops */

#route-schedules-module {
    position: relative;
    background-color: white;
    z-index: 1;
}
.input-area {
    position: relative;
}
#route-stop-search-input {
    width: calc(100% - 1em);
    margin-left: 0.5em;
}
#schedule-search-area {
    background-color: #fff;
}
#schedule-search-area {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-style: dashed;
    border-width: 0px 0px 1px;
    z-index: 1;
}
.schedule-results-icons-inline {
    display: table-cell;
}
#schedule-search-area-bottom {
    display: none;
    width: 100%;
    padding: 0em 1em 0.5em;
    background-color: #FFF;
}
.agency-filter {
    border-width: 0px 0px 0px 1px;
    width: 4em;
}
.agency-filter:first-child {
    border-width: 0px;
}

/* Lack of selectors in the following refers to directives */
mobile-filter-icons {
    display: table;
    width: 100%;
    border-width: 1px 0px 0px;
    border-style: dotted;
    padding: 0.5em 0em 0em;
}
inline-filter-icons {
    display: inline-table;
    width: 100%;
}

.agency-filter-icon {
    height: 1.5em;
}
.agency-filter-icon-selected {
    box-shadow: 0px 0px 4px 1px #017AC2;
}
#schedule-search-clear-button-top {
    border-width: 0px 2px 0px 1px;
}
#bstop-list {
    margin-bottom: 0.5em;
}
#route-list {
    margin-bottom: 0.5em;
}
.title-header {
    display: block;
    font-size: 1.2em;
    font-family: verdana;
    background-color: #017AC2;
    color: #FFF;
    font-weight: 400;
    width: 100%;
    height: 1.45em;
    overflow: hidden;
    padding: 0.1em 0em 0.1em 0.5em;
    text-align: left;
}
.trip-planner-module-map-title {
    box-shadow: 0px 6px 6px -5px #000;
    z-index: 1029;
    padding: 2px 0em calc(1.4em + 3px) 0.5em;
}
.schedule-results-main-container,
.index-main-container {
    position: relative;
    height: 32.5em;
    height: calc(100% - 6em);
    overflow: auto;
    margin: 1em 0em 0em;
}
.route-title {
    position: relative;
}
.collapse-button {
    display: inline-block;
}
.stops-list {
    height: 165px;
    border-style: dotted;
    border-width: 1px;
    border-color: #CCC;
}
.list-group-item-responsive {
    height: 3em;
    overflow: auto;
    padding: 0px;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.result-filter {
    width: 100%;
}
.result-list-text,
.result-icon-container {
    display: table-cell;
    vertical-align: middle;
}
.result-list-text {
    border-style: dotted;
    border-width: 0px 0px 0px 1px;
    padding: 0em 0.5em;
}
.result-list-text:first-child {
    border-width: 0px;
}
.result-icon-container {
    text-align: center;
    width: 3em;
}
.result-icon-container-right {
    border-style: dotted;
    border-width: 0px 0px 0px 1px;
}
.favorite-route-icon-saved {
    color: #017AC2;
}
.arrow-right-icon {
    cursor: default;
}
.pdf-icon {
    margin-right: 5px;
    cursor: pointer;
}
.schedule-results-no-results-text {
    position: absolute;
    top: 5em;
    left: 1em;
    font-size: 1.5em;
    padding: 1em;
    border-style: dashed;
    border-width: 1px;
    border-color: orangered;
    width: 93%;
    width: calc(100% - 2em);
    line-height: 1.5em;
    z-index: -1;
}

/* END Route Schedules Page + Nearest Stops */

/* START Trip Planner */

#planner-top-bar {
    padding: 0.5em;
    position: relative;
}
.trip-planner-module-title {
    border-bottom: solid black 1px;
}
#trip-planner-input-options {
    padding: 0em 0.5em 0.5em;
}
#start-input,
#finish-input {
    display: inline-table;
    width: 40%;
    vertical-align: middle;
}
.input-title {
    display: table-cell;
    vertical-align: middle;
    width: 3.5em;
}
.planner-input {
    display: table-cell;
    width: 100%;
}
#planner-top-inputs {
    display: inline;
    width: 100%;
}
#submit-trip {
    display: none;
}
.planner-embed-option {
    font-size: 1.3em;
    display: inline-block;
    position: relative;
    top: 0.15em;
}
#planner-embed-back {
    border-style: dotted;
    padding: 0.2em 0.7em 0.3em 0.4em;
    border-width: 0px 1px 0px 0px;
}
#planner-embed-gps {
    margin: 0% 1% 0% 1%;
}
#planner-embed-swap {
    margin: 0% 2%;
}
#planner-embed-prefs {
    margin-left: calc(13% - 3.6em);
}
#planner-submit-button {
    border-width: 1px 0px;
}
#planner-mobile-controls,
.planner-mobile-option {
    border-style: dotted;
}
#planner-mobile-controls {
    display: none;
    width: 100%;
    text-align: center;
    border-width: 0px 0px 1px;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    padding: 0.5em 0em;
    font-size: 1.2em;
}
.planner-mobile-option {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
    border-width: 0px 0px 0px 1px;
}
.planner-mobile-option:first-child {
    border-width: 0px;
}
#planner-option-bar {
    background: none repeat scroll 0% 0% #FFF;
    width: 100%;
    border-style: dotted;
    border-width: 1px 0px;
    text-align: center;
    padding: 0.5em 0em;
    margin: 0em 0em 1em;
    position: absolute;
    z-index: 1031;
    top: -7.4em;
    left: 0em;
    max-height: 7.5em;
}
.trip-marker-info-window {
    width: 100%;
}
.trip-marker-info-window-top {
    display: table;
    width: 100%;
    background-color: #444;
    border-radius: 4px 4px 0em 0em;
}
.trip-marker-info-window-number,
.trip-marker-info-window-title {
    display: table-cell;
}
.trip-marker-info-window-number {
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    width: 30px;
    display: table-cell;
}
.trip-marker-info-window-number-contents {
    position: absolute;
    font-size: 20px;
    top: 6px;
    left: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .trip-marker-info-window {
        position: relative;
        top: -17px;
        z-index: -1;
    }
    .trip-marker-info-window-number-contents {
        top: 22px;
    }
}
.trip-marker-info-window-title {
    font-size: 16px;
    display: table-cell;
    height: 30px;
    border-style: solid;
    border-width: 0px 0px 1px;
    vertical-align: middle;
    padding: 0px 20px 0px 0px;
}
.trip-marker-info-window-bottom {
    display: block;
    height: 73px;
    background-color: #888;
    border-radius: 0px 0px 4px 4px;
    border-color: #444;
    border-style: solid;
    border-width: 2px;
}
.trip-marker-info-window-start-time-bottom,
.trip-marker-info-window-start-time-top {
    position: relative;
}
.trip-marker-info-window-start-time-top {
    
}
.trip-marker-info-window-start-time-bottom {
    left: -0.3em;
}
.trip-marker-info-window-bottom span {
    display: block;
}
.trip-marker-info-window-dest {
    position: relative;
    height: 69px;
    border-radius: 4px;
    background-color: #888;
    padding: 27px 0px 0px;
}
#planner-option-optimization,
#planner-option-transit-modes,
#planner-option-date {
    
}
#planner-option-transit-modes {
    margin: 0.5em 0px;
}
.switch,
.switch-handle {
    height: 1.2em !important;
}
.switch {
    display: inline-block !important;
    top: 4px;
    width: 3.5em !important;
}
.switch-handle {
    width: 1.2em !important;
}
.planner-option-switch {
    display: table-cell;
}
.planner-pref-option {
    
}
.planner-pref-option-title {
    margin: 0em 0em 0em 0.2em;
}
#trip-planner-itinerary-selector-modal {
    position: absolute;
    background-color: #000;
    height: calc(100% - 11em - 4px);
    width: 100%;
    top: calc(3.5em + 2px);
    left: 0px;
    z-index: 1029;
    opacity: 0.3;
}
iframe #trip-planner-itinerary-selector-modal {
    position: fixed;
    top: 4em;
}
#trip-planner-itinerary-selector {
    position: absolute;
    top: 7em;
    left: calc(50% - 15em);
    width: 30em;
    background-color: #FFF;
    z-index: 1030;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
}
iframe #trip-planner-itinerary-selector {
    position: fixed;
}
.trip-planner-itinerary-selector-pushed {
    top: 6.5em !important;
    line-height: 1.5em;
}
#trip-planner-itinerary-selector-title {
    border-style: solid;
    border-width: 0px 0px 1px;
    padding: 0.1em 0em 1.5em 0.5em;
}
#trip-planner-itinerary-panel-area {
    width: 100%;
    display: table;
    margin-top: -1px;
    font-size: 1.1em;
}
.trip-planner-itinerary-panel {
    border-style: solid;
    border-width: 1px;
    height: 10em;
    width: 100%;
    display: table-row;
}
.trip-planner-itinerary-panel-smaller {
    height: 9em;
}
.trip-planner-itinerary-labels {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-width: 1px 0px 0px;
    border-style: solid;
}
#trip-planner-itinerary-step-container {
    
}
.trip-planner-itinerary-step-container-le-6 {
    font-size: 1em;
}
.trip-planner-itinerary-step-container-le-8 {
    font-size: 0.8em;
}
.trip-planner-itinerary-step-container-le-10 {
    font-size: 0.6em;
}
.trip-planner-itinerary-step {
    
}
.trip-planner-itinerary-arrow {
    font-size: 1.5em;
    position: relative;
    bottom: 0.6em;
    margin: 0em 0em 0em 0.2em;
}
.trip-planner-itinerary-arrow-hidden {
    color: #FFF;
}
.trip-planner-itinerary-transit-type-icon-with-text {
    display: inline-block;
    position: relative;
    width: 2.7em;
    height: 3em;
}
.trip-planner-itinerary-transit-type-icon {
    display: block;
}
.trip-planner-itinerary-transit-type-text {
    display: block;
    position: absolute;
    width: 100%;
    bottom: calc(2em - 12px);
    font-size: 1em;
    font-weight: 700;
    color: #555;
}
.trip-planner-itinerary-transit-type-text-space {
    color: #FFF;
}
svg .destination-icon-fix {
    transform: scale(2) translate(1px, 1px);
}
.trip-planner-transit-type-icon {
    
}
.trip-planner-transit-type-icon-non-highlighted {
    fill: grey;
}
.trip-planner-transit-mode-icon-walking {
    width: 1.5em;
}
.trip-planner-transit-mode-icon-bus {
    width: 3.5em;
}
.trip-planner-transit-mode-icon-dest {
    width: 2.5em;
    height: 36px;
    transform: scale(2) translate(10px, -2px) !important;
    padding: 11px 0px 0px 0px;
}
.trip-planner-itinerary-date {
    font-weight: bold;
}
.trip-planner-itinerary-time-range {

}
.trip-planner-itinerary-duration {
    font-weight: bold;
}
.trip-planer-itinerary-navigation-step {
    display: inline-block;
    position: relative;
    margin: 0.2em;
}
.trip-planner-itinerary-step-highlighted {
    fill: #017AC2;
}
trip-planner-navigation-bar {
    border-style: dotted solid dashed;
    border-width: 0px 0px 1px;
    background-color: white;
    padding: 1em 0em 2em 0em;
}
.trip-planner-itinerary-navigation-bar {
    height: 4em;
    width: 100%;
    background: none repeat scroll 0% 0% #FFF;
    display: table;
    table-layout: fixed;
}
.trip-planner-navigation-bar-main-contents {
    height: 4em;
    overflow-x: hidden;
}
#schedule-map-error-dialog,
#trip-planner-dialog,
#full-schedule-error-dialog {
    background-color: #F2CD00;
    position: absolute;
    z-index: 1029;
    border-radius: 10px;
    padding: 0.5em;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
iframe #trip-planner-dialog {
    position: fixed;
}
.trip-planner-dialog-start,
.trip-planner-dialog-finish {
    bottom: 6em;
}
.trip-planner-dialog-start {
    left: calc(5% + 4em);
}
.trip-planner-dialog-finish {
    left: calc(45% + 7.5em);
}
iframe .trip-planner-dialog-start,
iframe .trip-planner-dialog-finish {
    bottom: 15.5em;
}
.trip-planner-dialog-start:after,
.trip-planner-dialog-finish:after,
.trip-planner-dialog-centered:after {
    content: "";
    position: absolute;
    width: 0px;
    border-width: 1.5em 0.75em 0em;
    border-style: solid;
    border-color: #F2CD00 transparent;
    top: calc(2.5em - 1px);
    left: 1em;
}
.trip-planner-dialog-centered {
    
}
.trip-planner-dialog-centered:after {
    border-style: none;
}

/* END Trip Planner */

/* START Nearest Map Stops */

#nearest-map-stops {
    
}
.nearest-map-stops-title {
    box-shadow: 0px 6px 6px -5px #000;
    z-index: 1029;
    padding: 2px 0em calc(1.5em + 0px) 0.5em;
    position: relative;
}
.nearest-map-stops-info-container {
    height: 10em;
    border-style: dotted;
    border-width: 1px 0px;
}
.nearest-map-stops-initial-display {
    position: relative;
    font-size: 1.2em;
    display: table;
    height: 100%;
    width: 100%;
}
.nearest-map-stops-initial-display-text {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.nearest-map-stops-single-stop-display {
    height: 7.5em;
    width: 100%;
    display: table;
}
.nearest-map-stops-single-stop-display-left-side {
    overflow-y: auto;
    display: table-cell;
    width: calc(8em + 10px);
    border-style: dashed;
    border-width: 0px 1px 0px 0px;
    vertical-align: middle;
}
.nearest-map-stops-single-stop-display-left-side-contents {
    overflow-y: auto;
    max-height: 7em;
    padding: 0.5em 0em;
}
.nearest-map-stops-single-stop-display-right-side {
    display: table-cell;
    width: calc(100% - 8.5em);
    vertical-align: middle;
}
.nearest-map-stops-single-stop-display-right-side-contents {
    overflow-y: auto;
    max-height: 7em;
}
.nearest-map-stops-single-stop-display-stop-id {
    display: block;
}
.nearest-map-stops-single-stop-display-stop-distance {
    display: block;
}
.nearest-map-stops-single-stop-display-stop-search {
    display: block;
    padding: 0.7em 0em 0em 0em;
}
.nearest-map-stops-single-stop-display-stop-search-text {
    color: blue;
}
.nearest-map-stops-single-stop-display-stop-search-text:hover {
    text-decoration: underline;
}
.nearest-map-stops-single-stop-display-bus-route {
    position: relative;
    display: inline-block;
    height: 2.8em;
    width: 2.7em;
    margin: 0 0.2em;
}
.nearest-map-stops-single-stop-display-bus-route-id {
    position: absolute;
    width: 100%;
    top: 4px;
}

/* END Nearest Map Stops */

/* START All Media Queries */

@media (max-width: 600px) {
    .map-full-screen-activate-button {
        display: none;
    }
    trip-planner-navigation-bar {
        border-width: 1px 0px;
    }
}

@media (max-width: 600px), (min-width: 900px) and (max-width: 1500px) {

    /* Generic Classes */
    #bct-app {
        font-size: 12px !important;
    }

    #main-app-space {
        height: calc(100% - 14.5em);
    }

    /* Schedule Map */
    #schedule-map {
        height: calc(100% - 18.5em);
    }
    .schedule-map-mini-schedule-button {
        width: 2em;
        font-size: 1em;
    }
    .schedule-map-mini-schedule-no-data {
        width: calc(100% - 2em);
    }
    schedule-map-navigation-bar {
        padding: 1em 0em 1.7em;
    }
    .schedule-map-navigation-bar-contents {
        font-size: 1.1em;
        height: 2.7em;
    }
    .schedule-map-stop-navigation-bar {
        margin: 0em 0em 1.5em;
    }
    .schedule-map-navigation-bar-contents-description {
        margin-bottom: -0.2em;
    }

    /* Schedule Results */
    #schedule-full-result-dialog {
        height: calc(28em - 2px);
    }
    #schedule-full-result-dialog-info-text {
        font-size: 1em;
    }
    .schedule-full-result-dialog-icon {
        font-size: 2em;
    }
    #schedule-full-result-dialog-pdf,
    #schedule-full-result-dialog-close {
        width: 3.5em;
    }
    #schedule-full-result-dialog-title {
        height: 4em;
        font-size: 1em;
    }
    .full-schedule-panel-times {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto;
        font-size: 1em;
        max-height: 7.5em;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .full-schedule-panel-times {
            height: 9em !important;
        }
    }
    .full-schedule-category-loading-modal-datepick {
        padding: 5.2em;
    }
    .full-schedule-datepicker-container .quickdate-popup {
        top: 113px;
    }
    #bct-app .quickdate-popup {
        line-height: 0.65em;
        width: 220px;
    }
    #bct-app .quickdate-popup quickdate-date-input,
    #bct-app .quickdate-popup quickdate-time-input {
        width: 85px;
    }
    #planner-option-date .quickdate-popup {
        margin: 6em 0em 0em -9em;
        top: -231px;
    }
    .stops-list {
        height: calc(9em + 1px);
    }
    .schedule-full-result-row {
        font-size: 1em;
    }
    .search-clear-button {
        border-width: 0px;
    }
    .schedule-results-icons-inline {
        display: none;
    }
    #schedule-search-clear-button-top {
        border-width: 0px 0px 0px 1px;
    }
    #schedule-search-area-bottom {
        display: block;
    }
    .schedule-results-no-results-text {
        top: 7em;
    }
    .schedule-results-main-container,
    .index-main-container {
        height: 30em;
        height: calc(100% - 9.5em);
    }

    /* Trip Planner */
    .planner-pref-option,
    .planner-option-switch {
        display: inline-block;
    }
    #planner-option-bar {
        max-height: 7.5em;
        top: -7em;
    }
    .trip-planner-module-map-title-extra-padding {
        padding: 2px 0em calc(2.1em - 2px) 0.5em;
    }
    #trip-planner-itinerary-selector {
        font-size: 0.8em;
        top: 5.5em;
    }
    .trip-planner-itinerary-selector-pushed {
        top: 4.9em !important;
    }
    #trip-planner-itinerary-selector-modal {
        height: calc(100% - 18em - 2px);
    }
    .trip-planner-itinerary-panel-smaller {
        height: 8.5em;
    }
    .trip-planner-itinerary-transit-type-text {
        bottom: calc(2em - 10px);
    }
    .trip-planner-transit-mode-icon-dest {
        transform: scale(2) translate(10px, -4px) !important;
        padding: 14px 0px 0px;
    }
    .navigation-bar-directions {
        width: 1.5em;
        font-size: 2em;
    }
    #planner-top-inputs {
        display: block;
        border-spacing: 0px;
    }
    #planner-mobile-controls {
        display: table;
    }
    .planner-embed-option {
        display: none;
    }
    #start-input,
    #finish-input {
        display: table;
        width: 100%;
        margin: 0em 0em 0.5em;
    }
    .trip-planner-dialog-start,
    .trip-planner-dialog-finish {
        left: 4em;
    }
    .trip-planner-dialog-start {
        bottom: 9em;
    }
    .trip-planner-dialog-finish {
        bottom: 6em;
    }
    .trip-planner-dialog-centered {
        bottom: 8em;
    }
}

/* END All Media Queries */