<div id="index-page">

    <div class="schedule-search-area-container myride-title-shadow
    no-highlight">

        <span class="title-header myride-title-shadow no-highlight"
        ng-show="show_index_title_normal">

            Welcome to MyRide

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">
                <i class="fa fa-info-circle"></i>
            </span>

        </span>

        <span class="title-header no-highlight" 
        ng-show="show_index_title_with_back_function">

            <span ng-click="closeMapAndResetTripPlanner();"
            class="ptr text-shadow-hover">

                <i class="fa fa-arrow-circle-left"></i>

                Back to Index - MyRide

            </span>

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">
                <i class="fa fa-info-circle"></i>
            </span>

        </span>

        <div class="search-area-contents">

            <input type="text" id="route-stop-search-index-input"
            class="search-input-field needsclick"
            placeholder="Search">

            <span class="search-submit-button search-top-buttons">
                <i class="fa fa-search icon-lower-2 link-icon ptr"
                ng-click="changeURLHash('routeschedules', 'schedule_search');
                submitRouteStopSearch('click', 'index');">     
                </i>
            </span>

            <span class="all-routes-button search-top-buttons">
                <i class="fa fa-list-alt icon-lower-2 link-icon ptr"
                ng-click="showAllRoutes('index');"></i>
            </span>

            <span class="search-clear-button search-top-buttons">
                <i class="fa fa-times-circle icon-lower-2 link-icon ptr"
                ng-click="clearSearch('schedule_search');"></i>
            </span>

            <inline-filter-icons></inline-filter-icons>

        </div>

        <div id="schedule-search-area-bottom">
            <mobile-filter-icons></mobile-filter-icons>
        </div>

    </div>

    <div class="index-main-container">

        <recently-viewed-items></recently-viewed-items>

        <nearest-stops></nearest-stops>

        <div id="nearest-stops-header" class="title-header myride-title-shadow
        no-highlight ptr"
        ng-click="changeURLHash('nearestmapstops');">

            Find on Map

        </div>

    </div>

</div>