<div id="index-page">

    <div class="schedule-search-area-container myride-title-shadow
    no-highlight">

        <span class="title-header myride-title-shadow no-highlight">

            <span ng-show="show_index_title_normal">
            
                Welcome to MyRide

            </span>

            <span ng-show="show_trip_planner_back_to_index_button">

                <span ng-click="toggleOverlayModule('planner');"
                class="ptr text-shadow-hover">

                    <i class="fa fa-arrow-circle-left"></i>

                    Back to Index - MyRide

                </span>

            </span>

            <span ng-show="show_schedule_map_back_to_index_button">

                <span ng-click="toggleOverlayModule('schedule');"
                class="ptr text-shadow-hover">

                    <i class="fa fa-arrow-circle-left"></i>

                    Back to Index - MyRide

                </span>

            </span>

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">

                <i class="fa fa-info-circle"></i>

            </span>

        </span>

        <top-search-bar module="index_page"></top-search-bar>

    </div>

    <div class="index-main-container">

        <recently-viewed-items></recently-viewed-items>

        <nearest-stops></nearest-stops>

        <div id="nearest-stops-header" class="title-header myride-title-shadow
        no-highlight ptr"
        ng-click="changeURLHash('nearestmapstops');">

            Find on Map

        </div>

    </div>

</div>