<div id="index-page" ng-class="main_module_styles">

    <div class="schedule-search-area-container myride-title-shadow
    no-highlight">

        <span class="title-header myride-title-shadow no-highlight"
        ng-show="show_index_title_normal">

            Welcome to MyRide

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">
                <i class="fa fa-info-circle"></i>
            </span>

        </span>

        <span class="title-header no-highlight" 
        ng-show="show_index_title_with_back_function">

            <span ng-click="closeMapAndResetTripPlanner();"
            class="ptr text-shadow-hover">
                <i class="fa fa-arrow-circle-left"></i>
                Back to Index - MyRide
            </span>

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">
                <i class="fa fa-info-circle"></i>
            </span>

        </span>

        <div class="search-area-contents">

            <input type="text" id="route-stop-search-index-input"
            class="search-input-field needsclick"
            placeholder="Search routes, stops or intersections">

            <span class="search-submit-button search-top-buttons">
                <i class="fa fa-search icon-lower-2 link-icon ptr"
                ng-click="changeURLHash('#routeschedules', 'schedule_search');
                submitRouteStopSearch('click', 'index');">     
                </i>
            </span>

            <span class="all-routes-button search-top-buttons">
                <i class="fa fa-list-alt icon-lower-2 link-icon ptr"
                ng-click="showAllRoutes('index');"></i>
            </span>

            <span class="search-clear-button search-top-buttons">
                <i class="fa fa-times-circle icon-lower-2 link-icon ptr"
                ng-click="clearSearch('schedule_search');"></i>
            </span>

            <inline-filter-icons></inline-filter-icons>

        </div>

        <div id="schedule-search-area-bottom">
            <mobile-filter-icons></mobile-filter-icons>
        </div>

    </div>

    <div class="index-main-container">

        <div class="panel-group" id="recent-accordion">

            <!-- Recently Viewed Schedules -->

            <div class="panel panel-default">
                <h2 class="panel-heading panel-title no-highlight ptr" toggle
                    target="recent-stops" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon"></i>
                    </span>
                    Recently Viewed Schedules
                </h2>
                <div id="recent-stops" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" id="recent-stop-filter"
                        class="result-filter" ng-model="recentStopFilter"
                        placeholder="Filter stops...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="recent_stop in recently_viewed.stops
                                | filter:{name:recentStopFilter}">
                                <div class="result-icon-container link-icon ptr">
                                    <i class="fa fa-star-o fa-lg"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ recent_stop.name }}
                                </div>
                                <div class="result-icon-container link-icon ptr"
                                    ng-click="toggleMapSchedule();">
                                    <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Recently Viewed Trips -->

            <div class="panel panel-default">
                <h2 class="panel-heading panel-title no-highlight ptr" toggle
                    target="recent-trips" ng-click="foldOptions($event);">
                    <span class="collapse-button">
                        <i class="fa fa-plus-circle collapse-icon"></i>
                    </span>
                    Recently Viewed Trips
                </h2>
                <div id="recent-trips" toggleable active-class="in"
                    exclusion-group="accordion1"
                    class="panel-collapse collapse">
                    <div class="panel-body">
                        <input type="text" id="recent-trip-filter"
                        class="result-filter" ng-model="recentTripFilter"
                        placeholder="Filter trips...">
                        <div class="list-group scrollable-content stops-list no-highlight">
                            <div class="list-group-item list-group-item-responsive"
                                ng-repeat="recent_trip in recently_viewed.trips | filter:{name:recentTripFilter}">
                                <div class="result-icon-container link-icon ptr">
                                    <i class="fa fa-star-o fa-lg"></i>
                                </div>
                                <div class="result-list-text">
                                    {{ recent_trip.name }}
                                </div>
                                <div class="result-icon-container link-icon
                                    link-icon ptr" ng-click="changeURLHash('#tripplanner')">
                                    <i class="fa fa-chevron-right fa-lg
                                        arrow-right-icon ptr">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <nearest-stops></nearest-stops>

    </div>

</div>