<div id="{{ category.id }}" class="panel panel-default
full-schedule-category-panel-main-container">

    <h2 class="full-schedule-title panel-heading panel-title ptr" toggle
    target="{{ category.id }}-collapse" ng-click="setAccordionPlusMinusIcons($event);">

        <span class="collapse-button">

            <i class="fa fa-plus-circle collapse-icon"></i>

        </span>

        {{ category.title }}

    </h2>

    <div id="{{ category.id }}-collapse" toggleable active-class="in"
    class="full-schedule-panel-contents panel-collapse collapse"
    exclusion-group="full_schedule_categories">

        <div class="full-schedule-hour" ng-repeat="hour in category.hours"
        ng-show="hour.minutes[0]">

            <div class="full-schedule-hour-title">

                {{ hour.hour_label }}

            </div>

            <div class="full-schedule-minute"
            ng-repeat="minute in hour.minutes">

                {{ minute }}

            </div>

        </div>

    </div>

</div>