<div id="{{ category.id }}" class="panel panel-default
full-schedule-category-panel-main-container">

    <span class="full-schedule-title panel-heading panel-title ptr" toggle
    target="{{ category.id }}-collapse">

        {{ category.title }}

    </span>
    
    <div id="{{ category.id }}-collapse" toggleable active-class="in"
    class="full-schedule-panel-contents panel-collapse collapse"
    exclusion-group="full_schedule_categories">

        <quick-datepicker ng-model="full_schedule_date"></quick-datepicker>

        <div class="full-schedule-hour" ng-repeat="hour in category.hours"
        >

            <div class="full-schedule-hour-title">

                {{ hour.hour_label }}

            </div>

            <div class="full-schedule-minute"
            ng-repeat="minute in hour.minutes">

                {{ minute }}

            </div>

        </div>

    </div>

</div>