<div class="alerts-header-contents global-alerts-header-contents">

    <span class="alert-area-icon alert-area-left no-highlight ptr link-icon"
    ng-class="alert_area_left_styles"
    ng-click="goToPrevGlobalAlertMessage();">
        <i class="fa fa-chevron-left"></i>
    </span>

    <span id="global-alert-header-message" class="alert-header-message">

        {{ current_global_alerts_message }}

    </span>

    <span class="alert-area-icon alert-area-right no-highlight ptr link-icon"
    ng-class="alert_area_right_styles"
    ng-click="goToNextGlobalAlertMessage();">
        <i class="fa fa-chevron-right"></i>
    </span>

    
</div>