<div class="alerts-header-contents global-alerts-header-contents">

    <span class="alert-area-icon alert-area-left no-highlight ptr link-icon"
    ng-click="goToPrevGlobalAlertMessage();">
        <i class="fa fa-chevron-left"></i>
    </span>

    <span class="alert-header-message"
    ng-class="global_alert_message_styles_1">

        {{ global_alerts[global_alerts_index["leader"]] }}

    </span>

    <span class="alert-header-message"
    ng-class="global_alert_message_styles_2">

        {{ global_alerts[global_alerts_index["follower"]] }}

    </span>

    <span class="alert-area-icon alert-area-right no-highlight ptr link-icon"
    ng-click="goToNextGlobalAlertMessage();">
        <i class="fa fa-chevron-right"></i>
    </span>

    
</div>