<div class="myride-main-loading-modal">

    <div class="myride-main-loading-modal-contents">

        <img src="{{ cur_def_dir }}{{ cur_def_path }}css/ico/splash_page.svg"
        class="myride-main-loading-modal-splash-graphic"
        alt="MyRide is Loading" title="MyRide is Loading">

        <div class="myride-main-loading-modal-text">

            Now Loading

        </div>

        <div class="myride-main-loading-modal-spinner">

            <i class="fa fa-spinner fa-spin"></i>

        </div>

    </div>

</div>