<div class="myride-main-loading-modal">

    <div class="myride-main-loading-modal-contents">

        <div class="myride-main-loading-modal-text
        myride-main-loading-modal-text-A">

            MyRide

        </div>

        <div class="myride-main-loading-modal-text
        myride-main-loading-modal-text-B">

            Now Loading

        </div>

        <div class="myride-main-loading-modal-spinner">

            <i class="fa fa-spinner fa-spin"></i>

        </div>

    </div>

</div>