<div id="nearest-map-stops">

    <span class="title-header no-highlight"
    ng-show="show_nearest_map_stops_title_with_back_function">

        <span class="text-shadow-hover ptr"
        ng-click="changeURLHash('bctappindex');
        closeMapAndResetTripPlanner(true);">

            <i class="fa fa-arrow-circle-left"></i>

            Back to Index - MyRide

        </span>

        <span class="info-corner-icon text-shadow-hover-icon ptr"
        ng-click="toggleIconLegendOverlay();">

            <i class="fa fa-info-circle"></i>

        </span>

    </span>

</div>