<div id="nearest-map-stops">

    <span class="title-header no-highlight">

        <span ng-show="show_trip_planner_back_to_index_from_nearest_map_stops">
        
            <span class="text-shadow-hover ptr"
            ng-click="toggleMapOverlayModule('planner');
            changeURLHash('bctappindex');">

                <i class="fa fa-arrow-circle-left"></i>

                Back to Index - MyRide

            </span>

        </span>

        <span ng-show="show_nearest_map_stops_back_to_index_button">

            <span ng-click="toggleMapOverlayModule('nearest');
            changeURLHash('bctappindex');"
            class="ptr text-shadow-hover">

                <i class="fa fa-arrow-circle-left"></i>

                Back to Index - MyRide

            </span>

        </span>

        <span class="info-corner-icon text-shadow-hover-icon ptr"
        ng-click="toggleIconLegendOverlay();">

            <i class="fa fa-info-circle"></i>

        </span>

    </span>

</div>