<div class="nearest-map-stops-initial-display"
ng-hide="selected_nearest_map_stop.stop_id">

    <span class="nearest-map-stops-initial-display-text">

        {{ nearest_map_stops_instructions.selected }}

    </span>

</div>

<div ng-show="selected_nearest_map_stop.stop_id"
class="nearest-map-stops-single-stop-display">

    <div class="nearest-map-stops-single-stop-display-left-side">

       <div class="nearest-map-stops-single-stop-display-left-side-contents">
        
            <span class="nearest-map-stops-single-stop-display-bus-route"
            ng-repeat="
                route in stops[selected_nearest_map_stop.stop_id].Routes
            ">

                <span
                class="nearest-map-stops-single-stop-display-bus-route-id">

                    {{
                    all_transit_agency_data.BCT.indexers.partial_labels[route]
                    }}

                </span>

                <bus-svg style="fill: #{{ routes[route].Color }};"></bus-svg>

            </span>

       </div>

    </div>

    <div class="nearest-map-stops-single-stop-display-right-side">

        <div class="nearest-map-stops-single-stop-display-right-side-contents">

            <span class="nearest-map-stops-single-stop-display-stop-id">

            [ID #{{ stops[selected_nearest_map_stop.stop_id].Code }}]
            -
            {{ stops[selected_nearest_map_stop.stop_id].Name }}

            </span>

            <span class="nearest-map-stops-single-stop-display-stop-distance">

                {{
            nearest_map_stop_distances.dists[selected_nearest_map_stop.stop_id]
                }}

            </span>

            <span class="nearest-map-stops-single-stop-display-stop-search">

                <span
                class="nearest-map-stops-single-stop-display-stop-search-text
                no-highlight ptr"
                ng-click="goToMyRideSchedule(
                    null, selected_nearest_map_stop.stop_id
                );">

                    Search for Stop

                </span>

            </span>

        </div>

    </div>

</div>