<div id="nearest-stops-module">

    <div id="nearest-stops-header" class="title-header myride-title-shadow
    no-highlight ptr" ng-click="getLocationAndDisplayNearestStops();">

        <i class="fa fa-crosshairs" ng-show="show_nearest_bstops_location_icon">
        </i>

        <i class="fa fa-crosshairs fa-spin"
        ng-show="show_nearest_bstops_location_icon_with_spin"></i>

        Find

    </div>

    <div class="panel-group" id="nearest-stops-accordion"
    ng-show="show_index_nearest_stops_panels">

        <div id="bstop-list" class="no-highlight">

            <stop-result-panel ng-repeat="stop in nearest_bstops">
            </stop-result-panel>

        </div>

    </div>

</div>