<div id="planner-option-bar" ng-show="show_trip_planner_options">
    <div id="planner-option-optimization">
        <span class="planner-pref-option">
            <input type="radio" name="planner-options" value="QUICK"
                ng-model="trip_opts.optimize">
            <span class="planner-pref-option-title">
                Fastest
            </span>
        </span>
        <span class="planner-pref-option">
            <input type="radio" name="planner-options" value="transfers"
                ng-model="trip_opts.optimize" disabled="true">
            <span class="planner-pref-option-title">
                Less Transfers
            </span>
        </span>
        <span class="planner-pref-option">
            <input type="radio" name="planner-options" value="walking"
                ng-model="trip_opts.optimize" disabled="true">
            <span class="planner-pref-option-title">
                Less Walking
            </span>
        </span>
    </div>

    <div id="planner-option-transit-modes">
        <span class="planner-pref-option">
            <input type="checkbox" ng-model="trip_opts.modeswitch.bus">
            <span class="planner-pref-option-title">
                Bus
            </span>
        </span>
        <span class="planner-pref-option">
            <input type="checkbox" ng-model="trip_opts.modeswitch.train">
            <span class="planner-pref-option-title">
                Train
            </span>
        </span>
        <span class="planner-pref-option">
            <input type="checkbox" ng-model="trip_opts.modeswitch.bike">
            <span class="planner-pref-option-title">
                B-cycle
            </span>
        </span>
    </div>

    <div id="planner-option-date">
        <span class="planner-pref-option">
            <input type="radio" name="planner-date" value="arrive_by"
                ng-model="trip_opts.datetarg">
            <span class="planner-pref-option-title">
                Arrive by
            </span>
        </span>
        <span class="planner-pref-option">
            <input type="radio" name="planner-date" value="depart_by"
                ng-model="trip_opts.datetarg">
            <span class="planner-pref-option-title">
                Depart by
            </span>
        </span>
        <quick-datepicker ng-model="trip_opts.datepick">
        </quick-datepicker>
    </div>
</div>