<div id="route-schedules-module" ng-controller="routeSchedulesController"
ng-class="main_module_styles">

    <div class="schedule-search-area-container no-highlight">

        <span class="title-header no-highlight"
            ng-show="show_schedule_results_module_title_normal">
            Search schedules - BCT MyRide
        </span>
        <span class="title-header no-highlight ptr text-shadow-hover"
            ng-click="closeMapAndResetTripPlanner();"
            ng-show="show_schedule_results_module_title_with_back_function">
            <i class="fa fa-arrow-circle-left"></i>
            Back to Schedule Search - BCT MyRide
        </span>

        <div id="schedule-search-area-top">

            <span id="schedule-search-back-button"
                class="schedule-search-top-buttons">
                <a href="#bctappindex" class="link-icon">
                    <i class="fa fa-arrow-circle-left ptr"></i>
                </a>
            </span>
            <input id="route-stop-search-input" type="text"
                class="form-control needsclick"
                placeholder="Search routes, stops or intersections"
                ng-model="query_data.schedule_search">
            <span id="schedule-search-clear-button-top"
                class="schedule-search-top-buttons">
                <i class="fa fa-times-circle link-icon ptr"
                    ng-click="clearSearch('schedule_search');"></i>
            </span>

            <inline-filter-icons></inline-filter-icons>

        </div>

        <div id="schedule-search-area-bottom">
            <mobile-filter-icons></mobile-filter-icons>
        </div>

    </div>

    <!-- Main Results Container -->

    <div class="schedule-results-main-container">
        <div class="panel-group" id="accordion" ng-show="show_schedule_results_result_panels">
            <div id="bstop-list" class="no-highlight">
                <span class="schedule-results-title title-header">

                    <i class="fa fa-crosshairs ptr"
                    ng-show="show_nearest_results_bstops_location_icon"
                    ng-click="getLocationAndDisplayForResultsPage();">
                    </i>
                    <i class="fa fa-crosshairs fa-spin"
                    ng-show="show_nearest_results_bstops_location_icon_with_spin">
                    </i>

                    Stop and Intersection Results

                </span>
                <stop-result-panel
                ng-repeat="stop in stops_arr |
                stopFilter:query_data.schedule_search:
                sort_bstops_by_distance:
                latest_location">
                </stop-result-panel>
            </div>
            <div id="route-list" class="no-highlight">
                <span class="schedule-results-title title-header">
                    Route Results
                </span>
                <route-result-panel
                ng-repeat="route in routes_arr | routeFilter:
                query_data.schedule_search">
                </route-result-panel>
            </div>
        </div>
    </div>

    <div class="schedule-results-no-results-text"
        ng-show="show_empty_result_message_search_too_short">
        {{ SCHEDULE_RESULTS_MESSAGE_TEXT_SEARCH_TOO_SHORT }}
    </div>
    <div class="schedule-results-no-results-text"
        ng-show="show_empty_result_message_no_results">
        {{ SCHEDULE_RESULTS_MESSAGE_TEXT_NO_RESULTS }}
    </div>

</div>