<div id="route-schedules-module">

    <div class="schedule-search-area-container myride-title-shadow
    no-highlight">

        <span class="title-header myride-title-shadow no-highlight"
        ng-show="show_schedule_results_module_title_normal">

            <span class="ptr text-shadow-hover"
            ng-click="changeURLHash('bctappindex');">

                <i class="fa fa-arrow-circle-left"></i>

                Back to Index - MyRide

            </span>

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">
                <i class="fa fa-info-circle"></i>
            </span>

        </span>

        <span class="title-header no-highlight"
        ng-show="show_schedule_results_module_title_with_back_function">

            <span class="text-shadow-hover ptr"
            ng-click="closeMapAndResetScheduleMap();">

                <i class="fa fa-arrow-circle-left"></i>

                Back to Schedule Search - MyRide

            </span>

            <span class="info-corner-icon text-shadow-hover-icon ptr"
            ng-click="toggleIconLegendOverlay();">
                <i class="fa fa-info-circle"></i>
            </span>

        </span>

        <div class="search-area-contents">

            <div>

                <input id="route-stop-search-input" type="text"
                class="search-input-field needsclick"
                placeholder="Search">

            </div>

            <span class="search-submit-button search-top-buttons">
                <i class="fa fa-search link-icon icon-lower-2 ptr"
                ng-click="submitRouteStopSearch('click', 'results');">     
                </i>
            </span>

            <span class="all-routes-button search-top-buttons">
                <i class="fa fa-list-alt icon-lower-2 link-icon ptr"
                ng-click="showAllRoutes('schedule_search');"></i>
            </span>
            
            <span class="search-clear-button search-top-buttons">
                <i class="fa fa-times-circle link-icon icon-lower-2 ptr"
                ng-click="clearSearch('schedule_search');"></i>
            </span>

            <inline-filter-icons></inline-filter-icons>

        </div>

        <div id="schedule-search-area-bottom">
            <mobile-filter-icons></mobile-filter-icons>
        </div>

    </div>

    <!-- Main Results Container -->

    <div class="schedule-results-main-container">

        <div class="panel-group" id="accordion" 
        ng-show="show_schedule_results_result_panels">

            <div id="bstop-list" class="no-highlight">

                <span class="title-header myride-title-shadow
                schedule-results-title">

                    <i class="fa fa-crosshairs ptr"
                    ng-show="show_nearest_results_bstops_location_icon"
                    ng-click="getLocationAndDisplayForResultsPage();"></i>

                    <i class="fa fa-crosshairs fa-spin"
                    ng-show="
                        show_nearest_results_bstops_location_icon_with_spin">
                    </i>

                    Stop and Intersection Results

                </span>

                <stop-result-panel
                ng-repeat="stop in filtered_stops_arr">
                </stop-result-panel>

            </div>

            <div id="route-list" class="no-highlight">

                <span class="title-header myride-title-shadow
                schedule-results-title">
                    Route Results
                </span>

                <route-result-panel
                ng-repeat="route in filtered_routes_arr">
                </route-result-panel>

            </div>

            <div id="route-list" class="no-highlight">

                <span class="title-header myride-title-shadow
                schedule-results-title">
                    Landmark Results
                </span>

                <landmark-result-panel
                ng-repeat="landmark in filtered_landmarks_arr">
                </landmark-result-panel>

            </div>

        </div>

    </div>

    <div class="schedule-results-no-results-text"
    ng-show="show_empty_result_message_search_too_short">
        {{ warning_messages.main_search.search_too_short }}
    </div>

    <div class="schedule-results-no-results-text"
    ng-show="show_empty_result_message_no_results">
        {{ warning_messages.main_search.no_results }}
    </div>

</div>