<div class="schedule-map-stop-navigation-bar"
ng-show="show_schedule_map_stop_navigation_bar_contents">    

    <span class="navigation-bar-directions navigation-bar-last-item
    link-icon ptr"
    ng-click="goToMarkerInfoWindow('schedule', 'prev');">
        <i class="fa fa-arrow-circle-left"></i>
    </span>

    <span class="navigation-bar-main-contents
    schedule-map-navigation-bar-contents no-highlight ptr"
    ng-click="returnToInitialBusStop();">

        <span class="schedule-map-navigation-bar-contents-description">
            Return to
        </span>

        <span class="schedule-map-navigation-bar-contents-info">

            Route {{ map_schedule_info.route }} -
            [ID #{{ stops[map_schedule_info.stop].Code }}]
            -
            {{ stops[map_schedule_info.stop].Name }}

        </span>

    </span>

    <span class="navigation-bar-directions navigation-bar-next-item
    link-icon ptr"
    ng-click="goToMarkerInfoWindow('schedule', 'next');">
        <i class="fa fa-arrow-circle-right"></i>
    </span>

</div>

<div class="schedule-map-navigation-bar-activation-button map-panel-button"
ng-show="show_schedule_map_navigation_bar_activation_button">

    <div class="schedule-map-navigation-bar-loading"
    ng-show="show_schedule_map_navigation_bar_loading">

        <div class="schedule-map-navigation-bar-spinner-modal no-highlight">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

    </div>

    <div class="no-highlight ptr link-icon"
    ng-click="activateScheduleMapStopNavigation();">
        <i class="fa fa-location-arrow"></i>
        {{ current_schedule_map_navigation_bar_activation_message }}
    </div>

</div>