<div id="schedule-map" ng-show="show_map_overlay_module"
ng-class="schedule_map_styles" class="fbox" ng-class="schedule_map_styles">

    <div id="schedule-map-loading-modal" class="app-area-modal"
    ng-show="show_schedule_map_loading_modal">

        <span id="schedule-map-loading-modal-spinner" class="no-highlight">
            <i class="fa fa-spinner fa-spin"></i>
        </span>

    </div>

    <div id="schedule-map-top-panel" ng-show="show_schedule_result_top_bar">

        <div id="schedule-map-info-bar" class="title-header"
        ng-show="show_schedule_map_info_bar">

            {{ map_schedule_info.route }}

            -

            {{ stops[map_schedule_info.stop].Name }}

        </div>

        <schedule-map-overlay></schedule-map-overlay>

        <div id="schedule-map-info" ng-show="show_schedule_result_top_info_bar">

            <div class="schedule-map-mini-schedule-no-data"
            ng-show="show_schedule_map_mini_schedule_no_data"></div>

            <div id="schedule-map-mini-schedule">

                <div id="schedule-map-mini-schedule-time-group">

                    <div class="schedule-map-mini-schedule-time"
                    ng-repeat="time in schedule.nearest.times_and_diffs
                    track by $index">

                        <span class="schedule-map-mini-schedule-time-text">

                            {{ time.time_12H }} <br>

                            <span class="schedule-map-mini-schedule-time-eta"
                            ng-show="time.diff">
                                ({{ time.diff }})
                            </span>

                        </span>

                    </div>

                </div>

            </div>

            <div id="schedule-map-view-full"
            class="schedule-map-mini-schedule-button link-icon
            no-highlight ptr"
            ng-click="toggleFullSchedule();">

                <span class="schedule-map-mini-schedule-time-text">
                    <i class="fa fa-calendar fa-lg ptr"></i>
                </span>

            </div>

        </div>

        <div class="schedule-full-result-pdf-selector-modal"
        ng-show="show_schedule_full_result_pdf_selector">

            <div class="schedule-full-result-pdf-selector">

                <div class="schedule-full-result-pdf-selector-button-panel">

                    <div class="schedule-full-result-pdf-selector-button
                    no-highlight ptr">

                        <span
                        class="schedule-full-result-pdf-selector-button-text"
                        ng-click="goToBCTSiteFullSchedule(
                            'two_page', 'on_page', 'weekday'
                        )">

                            Weekdays

                        </span>

                    </div>

                    <div class="schedule-full-result-pdf-selector-button
                    no-highlight ptr">

                        <span
                        class="schedule-full-result-pdf-selector-button-text"
                        ng-click="goToBCTSiteFullSchedule(
                            'two_page', 'on_page', 'weekend'
                        )">

                            Weekends

                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <span ng-show="show_trip_planner_title">

        <span class="trip-planner-module-map-title title-header no-highlight"
        ng-show="show_trip_planner_title_header"
        ng-class="trip_planner_module_map_title_styles">
            Trip Planner
        </span>

    </span>

    <div id="map-canvas" ng-class="map_canvas_styles"
    ng-show="show_map_canvas"></div>

    <div class="single-button-bar map-panel-button no-highlight
    map-full-screen-activate-button  ptr link-icon"
    ng-click="toggleMapFullScreen();"
    ng-show="show_map_full_screen_button"
    ng-class="map_full_screen_activate_button_styles">

        <i class="fa fa-expand"></i>

        Full Screen Mode

    </div>

    <div class="map-full-screen-return-button single-button-bar
    no-highlight ptr link-icon"
    ng-show="show_map_full_screen_return_button"
    ng-click="toggleMapFullScreen();">

        <i class="fa fa-compress"></i>

        {{ map_full_screen_return_button_message }}

    </div>

    <div class="map-full-screen-modal"
    ng-show="show_map_full_screen_modal"></div>

    <trip-planner-navigation-bar
    ng-show="show_trip_planner_step_navigation_bar">
    </trip-planner-navigation-bar>

    <schedule-map-navigation-bar
    class="single-button-bar"
    ng-show="show_schedule_map_stop_navigation_bar"
    ng-class="schedule_map_navigation_bar_styles">
    </schedule-map-navigation-bar>

    <schedule-map-error-dialog></schedule-map-error-dialog>

</div>