<div id="schedule-full-result" ng-show="show_full_schedule_module">

    <div id="schedule-full-result-dialog">

        <div id="schedule-full-result-dialog-title">

            <div id="schedule-full-result-dialog-pdf" class="link-icon"
            ng-click="selectBCTSiteFullSchedule();">

                <span class="schedule-full-result-dialog-icon">

                    <i class="fa fa-file-pdf-o ptr no-highlight"></i>

                </span>

            </div>

            <div id="schedule-full-result-dialog-info">

                <span id="schedule-full-result-dialog-info-text">

                    {{ schedule_date_range.start }}
                    to
                    {{ schedule_date_range.end }}

                </span>

            </div>

            <div id="schedule-full-result-dialog-close" class="link-icon"
            ng-click="toggleFullSchedule();">

                <span class="schedule-full-result-dialog-icon">

                    <i class="fa fa-times no-highlight ptr"></i>

                </span>

            </div>

        </div>

        <div id="schedule-full-result-dialog-all-days">

            <div id="full-schedule-accordion" class="panel-group no-highlight">

                <full-schedule-panel-with-datepicker
                ng-repeat="category in full_schedule_category_with_datepicker">
                </full-schedule-panel-with-datepicker>

                <full-schedule-panel
                ng-repeat="category in full_schedule_categories">
                </full-schedule-panel>

            </div>

            <div class="full-schedule-category-panel-loading-modal"
            ng-show="show_full_schedule_category_panel_loading_modal"></div>

        </div>

        <full-schedule-error-dialog></full-schedule-error-dialog>

    </div>

</div>