<div id="schedule-map" ng-show="show_map_overlay_module"
ng-class="schedule_map_styles" class="fbox">

    <div id="schedule-map-loading-modal"
        ng-show="show_schedule_map_loading_modal">
        <span id="schedule-map-loading-modal-spinner" class="no-highlight">
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>

    <div id="schedule-map-top-panel" ng-show="show_schedule_result_top_bar">

        <div id="schedule-map-info-bar" class="title-header"
        ng-show="show_schedule_map_info_bar">
            {{ map_schedule_info.route }}
            {{ stops[map_schedule_info.stop].Name }}
        </div>

        <schedule-map-overlay></schedule-map-overlay>

        <div id="schedule-map-info" ng-show="show_schedule_result_top_info_bar">
            <div id="schedule-map-mini-schedule">
                <div id="schedule-map-mini-schedule-time-group">
                    <div class="schedule-map-mini-schedule-time"
                        ng-repeat="time in schedule.nearest.times_and_diffs">
                        <span class="schedule-map-mini-schedule-time-text">
                            {{ time.time }} <br>
                            <span ng-show="time.diff">
                            ({{ time.diff }})
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="schedule-map-view-full"
                class="schedule-map-mini-schedule-button link-icon
                no-highlight ptr"
                ng-click="toggleFullSchedule();">
                <span class="schedule-map-mini-schedule-time-text">
                    <i class="fa fa-calendar fa-lg ptr"></i>
                </span>
            </div>
        </div>
        <div id="schedule-map-alert-area"
            ng-show="show_schedule_result_top_alert_bar">
            <span id="schedule-map-alert-area-text">
                <i class="fa fa-exclamation-circle"></i>
                {{ alerts[0] }}
            </span>
        </div>

    </div>

    <span class="trip-planner-module-title-map title-header no-highlight"
    ng-show="show_trip_planner_title">
        Trip Planner
    </span>

    <div id="map-canvas" ng-class="map_canvas_styles"></div>

    <div class="map-full-screen-button no-highlight ptr link-icon
    map-panel-button"
    ng-click="toggleMapFullScreen();"
    ng-show="show_map_full_screen_button">
        <i class="fa fa-expand"></i>
        Full Screen Mode
    </div>

    <div class="map-full-screen-return-button no-highlight ptr link-icon
    map-panel-button"
    ng-show="show_map_full_screen_return_button"
    ng-click="toggleMapFullScreen();">
        <i class="fa fa-compress"></i>
        {{ map_full_screen_return_button_message }}
    </div>

    <div class="map-full-screen-modal"
    ng-show="show_map_full_screen_modal"></div>

    <trip-planner-navigation-bar
    ng-show="show_trip_planner_step_navigation_bar">
    </trip-planner-navigation-bar>

    <schedule-map-navigation-bar
    ng-show="show_schedule_map_stop_navigation_bar"
    ng-class="schedule_map_navigation_bar_styles">
    </schedule-map-navigation-bar>

</div>