<div id="schedule-full-result" ng-show="show_full_schedule_module">

    <div id="schedule-full-result-dialog">
        <div id="schedule-full-result-dialog-title">
            <div id="schedule-full-result-dialog-pdf" class="link-icon">
                <span class="schedule-full-result-dialog-icon">
                    <i class="fa fa-file-pdf-o ptr no-highlight"></i>
                </span>
            </div>
            <div id="schedule-full-result-dialog-info">
                <span id="schedule-full-result-dialog-info-text">
                    {{ schedule_date_range.start }}
                    to
                    {{ schedule_date_range.end }}
                </span>
            </div>
            <div id="schedule-full-result-dialog-close" class="link-icon"
                ng-click="toggleFullSchedule();">
                <span class="schedule-full-result-dialog-icon">
                    <i class="fa fa-times no-highlight ptr"></i>
                </span>
            </div>
        </div>
        <div id="schedule-full-result-dialog-all-days">
            <div>
                <div class="schedule-full-result-day">
                    Choose Date:
                    <quick-datepicker ng-model="full_schedule_date"
                    disable-timepicker="true"></quick-datepicker>
                </div>
                <div class="schedule-full-result-loading-modal"
                    ng-show="show_schedule_result_date_pick_row_loading">
                    <span class="schedule-full-result-loading-modal-spinner
                        no-highlight">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </div>
                <div class="horizontal-scroll">
                    <div class="schedule-full-result-row">
                        <div class="schedule-full-result-time"
                            ng-repeat="time in schedule.date_pick track by $index">
                            <span class="schedule-full-result-time-text">
                                {{ time }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="day in all_days">
                <div class="schedule-full-result-day">
                    {{ day }}
                </div>
                <div class="horizontal-scroll">
                    <div class="schedule-full-result-row">
                        <div class="schedule-full-result-time"
                            ng-repeat="time in schedule[day.toLowerCase()]
                            track by $index">
                            <span class="schedule-full-result-time-text">
                                {{ time }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>