<div class="list-group-item list-group-item-responsive"
ng-repeat="recent_trip in recently_viewed_items.trip_planner
| filter:recentTripFilter">

    <div class="result-list-text">

            {{ recent_trip.start }} to {{ recent_trip.finish }}

    </div>

    <div class="recent-trip-submit-trip result-icon-container link-icon
    link-icon ptr"
    ng-click="submitSpecifiedTrip(recent_trip.start, recent_trip.finish);">

        <i class="fa fa-lg fa-chevron-right ptr"></i>

    </div>

</div>