<div class="list-group-item list-group-item-responsive"
ng-repeat="recent_trip in recently_viewed_items.trip_planner
| filter:{name:recentTripFilter}">

    <div class="result-icon-container link-icon ptr">

        <i class="fa fa-star-o fa-lg"></i>

    </div>

    <div class="result-list-text">

            {{ recent_trip.name }}

    </div>

    <div class="result-icon-container link-icon link-icon ptr"
    ng-click="changeURLHash('tripplanner')">

        <i class="fa fa-chevron-right fa-lg arrow-right-icon ptr"></i>

    </div>

</div>