<div class="list-group-item list-group-item-responsive"
ng-repeat="stop in filtered_sub_landmarks_arr">

    <div class="result-list-text">
        [ID #{{ stop.Code }}] - {{ stop.Name }}
    </div>

    <div class="result-icon-container result-icon-container-right link-icon ptr"
    ng-click="addRouteStopToTripPlanner(stop.Id);">

        <i class="fa fa-lg fa-map-marker ptr"></i>

    </div>

    <div class="result-icon-container result-icon-container-right link-icon ptr"
    ng-click="submitRouteStopSearch('click', 'specified', stop.Id);">

        <i class="fa fa-search fa-lg ptr"></i>

    </div>

</div>