<div id="trip-planner-module" ng-controller="tripPlannerController"
    ng-class="trip_planner_styles">

    <span class="title-header">Plan a trip</span>

    <div id="planner-top-bar">

        <planner-option-bar></planner-option-bar>

        <div id="trip-planner-input-options">

            <!-- Mobile Option Bar -->

            <div id="planner-mobile-controls" class="no-highlight">

                <span id="planner-mobile-gps" class="planner-mobile-option">
                    <i class="fa fa-crosshairs link-icon ptr"
                    ng-click="getCurrentLocationAndDisplayData(
                        setPlannerLocationSpinner,
                        displayPlannerLocationData
                    );"
                    ng-show="show_planner_location_icon"></i>
                    <i class="fa fa-crosshairs link-icon-active fa-spin"
                    ng-show="show_planner_location_icon_with_spin"></i>
                </span>
                <span id="planner-mobile-swap" class="planner-mobile-option">
                    <i class="fa fa-exchange link-icon ptr"
                    ng-click="swapTripInputs();"></i>
                </span>
                <span id="planner-mobile-prefs" class="planner-mobile-option">
                    <i class="fa fa-cog link-icon ptr"
                    ng-click="toggleTripOptions();"></i>
                </span>

            </div>

            <!-- Search Inputs and Embedded Options -->

            <div id="planner-top-inputs" class="no-highlight">

                <span id="planner-embed-gps" class="planner-embed-option">
                    <i class="fa fa-crosshairs link-icon ptr"
                    ng-click="getLocationAndAddToPlannerStart();"
                    ng-show="show_planner_location_icon"></i>
                    <i class="fa fa-crosshairs link-icon-active fa-spin"
                    ng-show="show_planner_location_icon_with_spin"></i>
                </span>

                <span id="start-input">
                    <span class="input-title">Start</span>
                    <input type="text" id="trip-planner-start"
                    class="planner-input" ng-model="trip_inputs.start">
                </span>

                <span id="planner-embed-swap" class="planner-embed-option">
                    <i class="fa fa-exchange link-icon ptr"
                    ng-click="swapTripInputs();"></i>
                </span>

                <span id="finish-input">
                    <span class="input-title">Finish</span>
                    <input type="text" id="trip-planner-finish"
                    class="planner-input" ng-model="trip_inputs.finish">
                </span>

                <span id="planner-embed-prefs" class="planner-embed-option">
                    <i class="fa fa-cog link-icon ptr"
                    ng-click="toggleTripOptions();"></i>
                </span>

                <input type="submit" id="submit-trip">

            </div>

        </div>

        <div id="planner-submit-button" class="single-button-bar
        no-highlight link-icon ptr"
        ng-click="submitTrip();">

            Send to Trip Planner

            <i class="fa fa-arrow-circle-right icon-lower-1"></i>

        </div>

    </div>

    <!-- Itinerary Selection Overlay -->

    <div id="trip-planner-itinerary-selector-modal"
    ng-show="show_trip_planner_itinerary_selector"
    ng-class="itinerary_selector_modal_styles"></div>

    <div id="trip-planner-itinerary-selector"
    ng-class="itinerary_selector_styles"
    ng-show="show_trip_planner_itinerary_selector">

        <span id="trip-planner-itinerary-selector-title"
        class="no-highlight title-header">
            Select An Itinerary
        </span>

        <div id="trip-planner-itinerary-panel-area">

            <div class="trip-planner-itinerary-panel no-highlight"
            ng-class="itinerary_selector_panel_styles"
            ng-repeat="itinerary in current_trip_plan_data track by $index">

                <div class="trip-planner-itinerary-labels">
                    {{ itinerary.loading }}
                </div>

                <div class="trip-planner-itinerary-labels ptr"
                ng-show="show_trip_planner_itinerary_labels"
                ng-click="displayTripPlan($index);">

                    <div ng-show="itinerary.times_valid">

                        <span class="trip-planer-itinerary-step"
                        ng-repeat="leg in itinerary.legsField">

                            <trip-planner-step></trip-planner-step>

                        </span>

                        <div class="trip-planner-itinerary-time-range">
                            {{ itinerary.startTimeField }} -
                            {{ itinerary.endTimeField }}
                            <span class="trip-planner-itinerary-duration">
                                ({{ itinerary.durationField }})
                            </span>
                        </div>

                        <div ng-show="itinerary.fareField">
                            Fare:
                            {{ (itinerary.fareField.fare1Field[0].
                            valueField.centsField / 100).toFixed(2) }}
                            $
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <trip-planner-dialog></trip-planner-dialog>

</div>