<div class="trip-planner-itinerary-navigation-bar">

    <span class="navigation-bar-directions navigation-bar-last-item
    link-icon ptr"
    ng-click="goToMarkerInfoWindow('planner', 'prev');">
        <i class="fa fa-arrow-circle-left"></i>
    </span>

    <span class="navigation-bar-main-contents
    trip-planner-navigation-bar-main-contents">

        <span class="trip-planer-itinerary-navigation-step no-highlight"
        ng-repeat="leg in current_trip_plan_data_selection.legsField">

            <trip-planner-step></trip-planner-step>

        </span>

    </span>

    <span class="navigation-bar-directions navigation-bar-next-item
    link-icon ptr"
    ng-click="goToMarkerInfoWindow('planner', 'next');">
        <i class="fa fa-arrow-circle-right"></i>
    </span>

</div>