<div id="trip-planner-module" ng-controller="tripPlannerController">

    <span class="title-header"
    ng-class="trip_planner_title_header_style">Plan a trip</span>

    <div id="planner-top-bar">

        <planner-option-bar></planner-option-bar>

        <div id="trip-planner-input-options">

            <!-- Mobile Option Bar -->

            <div id="planner-mobile-controls" class="no-highlight">

                <span id="planner-mobile-gps" class="planner-mobile-option">
                    <i class="fa fa-crosshairs link-icon ptr"
                    ng-click="getCurrentLocationAndDisplayData(
                        setPlannerLocationSpinner,
                        displayPlannerLocationData
                    );"
                    ng-show="show_planner_location_icon"></i>
                    <i class="fa fa-crosshairs link-icon-active fa-spin"
                    ng-show="show_planner_location_icon_with_spin"></i>
                </span>
                <span id="planner-mobile-swap" class="planner-mobile-option">
                    <i class="fa fa-exchange link-icon ptr"
                    ng-click="swapTripInputs();"></i>
                </span>
                <span id="planner-mobile-prefs" class="planner-mobile-option">
                    <i class="fa fa-cog link-icon ptr"
                    ng-click="toggleTripOptions();"></i>
                </span>

            </div>

            <!-- Search Inputs and Embedded Options -->

            <div id="planner-top-inputs" class="no-highlight">

                <span id="planner-embed-gps" class="planner-embed-option">
                    <i class="fa fa-crosshairs link-icon ptr"
                    ng-click="getLocationAndAddToPlannerStart();"
                    ng-show="show_planner_location_icon"></i>
                    <i class="fa fa-crosshairs link-icon-active fa-spin"
                    ng-show="show_planner_location_icon_with_spin"></i>
                </span>

                <span id="start-input">
                    <span class="input-title">Start</span>
                    <input type="text" id="trip-planner-start"
                    class="planner-input" ng-model="trip_inputs.start">
                </span>

                <span id="planner-embed-swap" class="planner-embed-option">
                    <i class="fa fa-exchange link-icon ptr"
                    ng-click="swapTripInputs();"></i>
                </span>

                <span id="finish-input">
                    <span class="input-title">Finish</span>
                    <input type="text" id="trip-planner-finish"
                    class="planner-input" ng-model="trip_inputs.finish">
                </span>

                <span id="planner-embed-prefs" class="planner-embed-option">
                    <i class="fa fa-cog link-icon ptr"
                    ng-click="toggleTripOptions();"></i>
                </span>

                <input type="submit" id="submit-trip">

            </div>

        </div>

        <div id="planner-submit-button" class="single-button-bar
        no-highlight link-icon ptr"
        ng-click="submitTripPlannerQuery();">

            Send to Trip Planner

            <i class="fa fa-arrow-circle-right icon-lower-1"></i>

        </div>

    </div>

    <trip-planner-itinerary-selector></trip-planner-itinerary-selector>

    <trip-planner-dialog></trip-planner-dialog>

</div>