<div class="trip-planner-itinerary-navigation-bar">

    <span class="navigation-bar-directions navigation-bar-last-item
    link-icon ptr"
    ng-click="goToMarkerInfoWindow('planner', 'prev');">
        <i class="fa fa-arrow-circle-left"></i>
    </span>

    <span class="navigation-bar-main-contents">

        <span class="trip-planer-itinerary-navigation-step no-highlight"
        ng-repeat="leg in current_trip_plan_data_selection.legsField">
            <img src="{{getIconPath(leg)}}"
            class="trip-planner-itinerary-transit-type-icon ptr
            {{ leg.styles }}"
            alt="{{getAltOrTitleText(leg, $index)}}"
            title="{{getAltOrTitleText(leg, $index)}}"
            ng-click="goToMarkerInfoWindow('planner', 'planner_step', $index);">
            <span>
                <i class="fa fa-angle-right trip-planner-itinerary-arrow"></i>
            </span>
        </span>

    </span>

    <span class="navigation-bar-directions navigation-bar-next-item
    link-icon ptr"
    ng-click="goToMarkerInfoWindow('planner', 'next');">
        <i class="fa fa-arrow-circle-right"></i>
    </span>

</div>