/* START Main Container Properties */

#profile-container {
    font-size: 14px !important;
}

/* END Main Container Properties */

/* START All Form Properties */

.ptr {
    cursor: pointer !important;
}
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a.link-icon,
a.link-icon-rev {
    opacity: 1 !important;
    text-decoration: none !important;
}
.link-icon,
.link-icon:focus {
    color: #333;
}
.link-icon:hover,
.link-icon-active {
    color: #555;
}
.link-icon-rev,
.link-icon-rev:focus {
    color: #fff;
}
.link-icon-rev:hover,
.link-icon-rev:active {
    color: #ddd;
}

.module-hidden {
    display: none !important;
}

.bct-form-header {
    background-color: #017AC2;
    color: #FFF;
    font-family: verdana;
    font-weight: 400;
    display: block;
    padding: 0.2em 0em 0.2em 0.5em;
    text-align: left;
    font-size: 18px;
    border-radius: 0.38em 0.38em 0em 0em;
}
.link-hover-underline {
    text-decoration: none;
}
.link-hover-underline:hover {
    text-decoration: underline;
}
.title-header {
    font-family: verdana;
    background: none repeat scroll 0% 0% #017AC2;
    color: #FFF;
    font-weight: 400;
    width: 100%;
    display: block;
    padding: 0.1em 0em 0.1em 0.5em;
    text-align: left;
    font-size: 18px;
}
.bct-drop-down {
    position: relative;
    height: 1.5em;
    width: 10em;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    vertical-align: middle;
    background-color: #FFF;
    margin: 0em 0.3em;
    border-radius: 0.5em;
    line-height: 1em;
}
.bct-drop-down:hover {
    border-radius: 0.5em 0.5em 0em 0em;

}
.bct-time-drop-down {
    width: 5em;
}
.bct-drop-down-selected-item {
    vertical-align: middle;
}
.bct-drop-down-item-holder-container {
    position: absolute;
    height: calc(4.5em + 2px);
    margin: 4px 0px 0px -1px;
    border-style: solid;
    border-width: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    width: inherit;
    z-index: 1;
}
.bct-drop-down .bct-drop-down-item-holder-container {
    display: none;
}
.bct-drop-down:hover .bct-drop-down-item-holder-container {
    display: block;
}
.bct-drop-down-item-holder {
    background-color: #FFF;
    position: relative;
    overflow: auto;
}
.bct-drop-down-item {
    display: block;
    height: 1.5em;
    width: 100%;
    border-style: solid;
    border-width: 1px 0px 0px;
    line-height: 1.5em;
    background-color: #FFF;
}
.bct-drop-down-item:first-child{
    border-width: 0px;
}
.bct-drop-down-item:hover {
    background-color: #017AC2;
    color: white;
}
.bct-drop-down-item-text {
    
}

/* END All Form Properties */

/* START Login Form Styles */

/* Main Container */
#login-form-inner-container {
    border: 1px solid;
    border-radius: 0.5em;
    margin: 0em 0em 1.5em;
    font-family: verdana;
    font-size: 16px !important;
}
.login-form-link {
    display: block;
    margin: 0.6em;
}
.login-form-icon {
    text-decoration: inherit;
}
#login-main-form {
    margin: 0.6em;
}
.login-form-input-with-title {
    margin: 1em 0em;
}
.login-form-input-title {
    display: block;
}
.login-form-input {
    width: calc(100% - 1em);
    height: 1.5em;
    font-size: 0.8em;
    margin: 0.5em 0em 0em;
}

/* END Login Form Styles */

/* START Profile Page */

.profile-page-section-container {
    height: 34em;
    background-color: #FFF;
}
.profile-page-main-content {
    margin: 1em 0em;
    box-shadow: 2px 2px 5px 1px #555;
    padding: 0em;
    border-radius: 1em 1em 0em 0em;
}
#profile-page-section-selector-bar {
    font-size: 1.3em;
    border-style: solid;
    border-width: 0px 0px 1px;
}
.profile-page-section-title {
    width: calc(100% - 0.5em);
}
.profile-page-section-title-sub-container {
    position: relative;
    left: 5px;
    width: calc(50% - 0.5px);
    display: inline-block;
    padding: 0.5em 0em;
    text-align: center;
    margin: 0px 0px 0px calc(-0.17em - 2px);
    background-color: #DDD;
    border-style: dotted;
    border-width: 0px;
}
.profile-page-section-title-sub-container:first-child {
    border-radius: 0.7em 0em 0em 0em;
}
.profile-page-section-title-sub-container:last-child {
    border-radius: 0em 0.7em 0em 0em;
    border-width: 0px;
}
.profile-page-section-title-sub-container-main-activated,
.profile-page-section-title-sub-container-sub-activated {
    background-color: #FFF !important;
}
.profile-page-section-title-sub-container-main-activated {
    z-index: 1;
}
.profile-page-section-title-sub-container-main-activated:first-child {
    border-width: 0px 2px 0px 0px;
    box-shadow: 2px 4px 4px 1px #000;
}
.profile-page-section-title-sub-container-main-activated:last-child {
    border-width: 0px 0px 0px 2px;
    box-shadow: -2px 4px 4px 1px #000;
}
.profile-page-section-title-sub-container-sub-activated:first-child {
    box-shadow: 1px 0px 6px 0px #000;;
}
.profile-page-section-title-sub-container-sub-activated:nth-child(2) {
    box-shadow: 0px 0px 6px 0px #000;
}
.profile-page-section-title-sub-container-sub-activated:last-child {
    box-shadow: -1px 0px 6px 0px #000;
}
.profile-page-section-title-sub {
    
}
.profile-page-section-description {
    overflow-y: scroll;
    height: 5em;
    transition: height 1s ease 0s;
    padding: 0.5em;
}
.profile-page-section-description-segment {
    margin: 0em 0em 0.5em 0em;
    display: block;
}

#favorites-container {
    overflow-x: auto;
    overflow-y: hidden;
}
.favorites-container-header {
    position: relative;
    width: calc(100% - 0.5em);
    z-index: 2;
}
.favorites-container-all-contents {
    position: relative;
    height: 100%;
    min-width: 23em;
}
#favorites-container-loading-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    z-index: 3;
}
.favorites-container-loading-modal-spinner {
    display: inline-block;
    position: relative;
    font-size: 2.5em;
    top: calc(50% - 0.8em);
}
.favorites-container-description {
    
}
.alerts-container-description {
    
}
#favorites-container-agency-bar {
    display: table;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: solid;
    border-width: 1px 0px;
    box-shadow: 0px 0px 6px 0px #000;
}
.favorites-container-agency-page {
    height: calc(100% - 13.5em + 2px);
}
.favorites-container-agency-bar-item {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5em;
    border-style: dotted;
    border-width: 0px 2px 0px 0px;
    background-color: #DDD;
}
.favorites-container-agency-bar-item:last-child {
    border-width: 1px 0px 1px 0px;
}
.favorites-container-agency-bar-item-image {
    height: 2.5em;
}
.favorites-container-main-panels-container {
    height: 100%;
    overflow-y: scroll;
}
#favorites-container-main-panels {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
.favorites-container-column-names,
.favorites-container-route-stop-panel {
    display: table-row;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
.favorites-container-route-stop-panel:last-child {
    border-width: 0px;
}
.favorites-container-route-stop-panel:nth-child(-n+8) {
    border-width: 0px 0px 1px 0px;
}
.favorites-container-column-names {
    display: table;
    width: 100%;
    text-align: center;
}
.favorites-container-column-names-item,
.favorites-container-route-stop-panel-item {
    border-style: dotted;
    border-width: 0px 1px 0px 0px;
    border-color: #000;
}
.favorites-container-column-names-item:last-child,
.favorites-container-route-stop-panel-item:last-child {
    border-width: 0px;
}
.favorites-container-column-names-item {
    display: table-cell;
    background-color: #017AC2;
    color: #FFF;
}
.favorites-container-column-names-delete,
.favorites-container-column-names-myride {
    text-align: center;
}
.favorites-container-column-names-delete,
.favorites-container-column-names-myride,
.favorites-container-route-stop-panel-delete,
.favorites-container-route-stop-panel-myride {
    font-size: 1.5em;
}
.favorites-container-column-names-delete {
    position: relative;
    width: 1.7em;
}
.favorites-container-route-stop-panel-item,
.favorites-container-route-stop-panel-delete-icon {
    padding: 0.4em;
    vertical-align: middle;
}
.favorites-container-route-stop-panel-delete-icon {
    
}
.favorites-container-route-stop-panel-delete-modal {
    position: absolute;
    height: calc(100% - 1px);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}
.favorites-container-route-stop-panel-delete-modal-spinner {
    height: 100%;
    margin: 0.4em 0em 0em 0em;
}
.favorites-container-column-names-route {
    width: 4.9em;
}
.favorites-container-column-names-route,
.favorites-container-route-stop-panel-route {
    text-align: center;
}
.favorites-container-column-names-myride {
    width: calc(2.5em - 2px);
}
.favorites-container-route-stop-panel {
    position: relative;
}
.favorites-container-route-stop-panel-item {
    display: table-cell;
}
.favorites-container-route-stop-panel-delete,
.favorites-container-route-stop-panel-myride {
    vertical-align: middle;
}
.favorites-container-route-stop-panel-delete {
    position: relative;
    padding: 0em;
}
.favorites-container-route-stop-panel-route {
    width: 4em;
}
.favorites-container-route-stop-panel-stop {
    
}
.favorites-container-route-stop-panel-myride {

}
.favorite-route-stop-panel {
    position: relative;
    line-height: 2em;
    border-style: solid;
    border-width: 0px 0px 1px;
    padding: 1em;
}
.favorite-route-stop-panel:last-child {
    border-width: 0px;
}
.favorite-route-stop-panel:nth-child(-n+3) {
    border-width: 0px 0px 1px;
}
favorite-route-stop-panel-property-container {
    display: table;
}
.favorite-route-stop-panel-property {
    display: table-row;
}
.favorite-route-stop-panel-property-name {
    display: table-cell;
    width: 5em;
}
.favorite-route-stop-panel-property-content {
    display: table-cell;
}
.favorite-route-stop-panel-agency {
    
}
.favorite-route-stop-panel-route {
    
}
.favorite-route-stop-panel-stop {
    
}
.favorite-route-stop-panel-myride-link {
    
}

#alerts-container {
    
}
.favorites-container-header,
.alerts-container-header {
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 1px;
}
.alerts-container-header {
    position: relative;
    width: calc(100% - 0.5em);
    z-index: 2;
}
.alerts-container-all-alerts {
    height: calc(100% - 6.5em);
    overflow-y: auto;
}
.alerts-container-all-alerts-rows-only {
    box-shadow: 0px -3px 6px -1px;
}
.alerts-container-main-contents {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-width: 23em;
    border-collapse: collapse;
    text-align: center;
    overflow-x: auto;
}
.alerts-container-sub-table {
    display: table;
    width: 100%;
    min-width: 23em;
    height: 2em;
}
.alerts-container-sub-table-selected {
    position: relative;
}
.alerts-container-row {
    display: table-row;
}
.bct-drop-down,
.bct-drop-down-item-holder-container,
.bct-drop-down-item,
.bct-drop-down-item:hover,
.alerts-container-time-range,
.alerts-container-radio-button,
.alerts-container-time-range-content {
    border-color: #777;
}
.alerts-container-radio-button {
    display: table-cell;
    width: 2em;
    vertical-align: middle;
    padding: 0em 0.3em 0em 0em;
    border-style: dotted;
    border-width: 0px;
    text-align: center;
    border-width: 0px 1px 0px 0px;
}
.alerts-container-top-radio-button {
    border-width: 0px 2px 0px 0px;
}
.alerts-container-radio-button:last-child {
    border-width: 0px;
}
.alerts-container-radio-button:nth-child(8) {
    border-top: 1px;
}
.alerts-container-radio-button:nth-child(-n+7) {
    border-width: 0px 2px 0px 0px;
}
.alerts-container-all-times {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5em;
}
.alerts-container-time-range {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
.alerts-container-time-range:nth-child(-n+8) {
    border-width: 0px 0px 1px 0px !important;
}
.alerts-container-time-range:nth-child(2) {
    border-width: 1px 0px 1px 0px !important;
}
.alerts-container-time-range:nth-child(10) {
    border-width: 1px 0px 1px 0px;
}
.alerts-container-time-range:last-child {
    border-width: 0px;
}
.alerts-container-time-range-deselected {
    background-color: #DDD;
}
.alerts-container-time-range-selected {
    box-shadow: 0px 0px 4px 0px;
    background-color: #FFF;
}
.alerts-container-time-range-content {
    display: table-cell;
    vertical-align: middle;
    border-style: dotted;
    border-width: 0px 0px 0px 2px;
    padding: 0.5em 0em;
    
}
.alerts-container-time-range-divider {
    display: inline-block;
}
.alerts-container-time-range-type-label {
    width: 5em;
    text-align: left;
    padding: 0em 0.5em;
}
.alerts-container-time-range-label {
    display: block;
}
.alerts-container-time-range-times {
    display: inline-block;
}
.alerts-container-time-range-start {
    
}
.alerts-container-time-range-end {
    
}
.alerts-subscription-options {
    
}
.alerts-container-sub-header {
    width: calc(100% - 0.5em);
}
.alerts-container-subscription {
    padding: 0.5em;
}

/* END Profile Page */

/* START Media Queries */

@media (max-width: 600px), (min-width: 900px) and (max-width: 1500px) {
    .favorites-alert-start-time:last-child,
    .favorites-alert-end-time:last-child,
    .favorites-alert-day-selection:last-child {
        border-width: 0px;
    }
    .alerts-container-time-range-divider {
        display: block;
    }
}

/* END Media Queries */