/* START All Form Properties */

.ptr {
    cursor: pointer !important;
}
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.bct-form-header {
    background-color: #017AC2;
    color: #FFF;
    font-family: verdana;
    font-weight: 400;
    display: block;
    padding: 0.2em 0em 0.2em 0.5em;
    text-align: left;
    font-size: 18px;
    border-radius: 0.38em 0.38em 0em 0em;
}
.link-hover-underline {
    text-decoration: none;
}
.link-hover-underline:hover {
    text-decoration: underline;
}
.bct-drop-down {
    height: 2em;
    width: 10em;
    border: 1px solid;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    background-color: white;
}
.bct-day-drop-down {
    width: 10em;
}
.bct-time-drop-down {
    width: 6em;
}
.bct-drop-down-item-holder {
    width: inherit;
    background-color: #FFF;
    position: absolute;
    overflow: auto;
    margin-top: -1px;
}
.bct-drop-down-item-holder-container {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: calc(6em - 2px);
    margin: calc(0.5em - 1px) 0px 0px -1px;
    width: inherit;
    border-width: 1px;
    border-style: solid;
}
.bct-drop-down .bct-drop-down-item-holder-container {
    border-width: 1px 0px 0px 0px;
}
.bct-drop-down .bct-drop-down-item-holder {
    display: none;
}
.bct-drop-down:hover .bct-drop-down-item-holder-container {
    border-width: 1px;
}
.bct-drop-down:hover .bct-drop-down-item-holder {
    display: table;
}
.bct-drop-down-item {
    display: table-row;
    height: calc(2em - 1px);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}
.bct-drop-down-item:hover {
    background-color: #017AC2;
    color: white;
    border-color: black;
}

/* END All Form Properties */

/* START Login Form Styles */

/* Main Container */
#login-form-inner-container {
    border: 1px solid;
    border-radius: 0.5em;
    margin: 0em 0em 1.5em;
    font-family: verdana;
    font-size: 16px !important;
}
.login-form-link {
    display: block;
    margin: 0.6em;
}
.login-form-icon {
    text-decoration: inherit;
}
#login-main-form {
    margin: 0.6em;
}
.login-form-input-with-title {
    margin: 1em 0em;
}
.login-form-input-title {
    display: block;
}
.login-form-input {
    width: calc(100% - 1em);
    height: 1.5em;
    font-size: 0.8em;
    margin: 0.5em 0em 0em;
}

/* END Login Form Styles */

/* START Profile Page */

#bct-profile-page {
    border: 1px solid;
    margin-bottom: 1em;
}
#profile-container {
    padding: 0em 1em;
}
.profile-page-section-title {
    display: block;
    font-size: 1.2em;
    margin: 1em 0em;
}
#favorites-container {
    margin: 1em 0em;
}
.favorites-full-item {
    border-collapse: collapse;
    margin: 1em 0em;
    width: 100%;
}
.favorites-full-item-route-stop,
.favorites-full-item-full-date-time {
    display: table;
    width: 100%;
}
.favorites-full-item-route-stop {
    
}
.favorites-full-item-full-date-time {
    margin-top: 0.5em;
}
.favorites-alert-start-time,
.favorites-alert-end-time,
.favorites-alert-day-selection {
    height: 3em;
    border: 1px solid;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.favorites-sub-item {
    display: table-cell;
    border: 1px solid;
    padding: 1em;
}
.favorites-sub-item-route {
    width: 15em;
}
.favorites-sub-item-stop {
    width: 25em;
}

/* END Profile Page */