/* START All Form Properties */

.ptr {
    cursor: pointer !important;
}
.no-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
a.link-icon,
a.link-icon-rev {
    opacity: 1 !important;
    text-decoration: none !important;
}
.link-icon,
.link-icon:focus {
    color: #333;
}
.link-icon:hover,
.link-icon-active {
    color: #555;
}
.link-icon-rev,
.link-icon-rev:focus {
    color: #fff;
}
.link-icon-rev:hover,
.link-icon-rev:active {
    color: #ddd;
}

.bct-form-header {
    background-color: #017AC2;
    color: #FFF;
    font-family: verdana;
    font-weight: 400;
    display: block;
    padding: 0.2em 0em 0.2em 0.5em;
    text-align: left;
    font-size: 18px;
    border-radius: 0.38em 0.38em 0em 0em;
}
.link-hover-underline {
    text-decoration: none;
}
.link-hover-underline:hover {
    text-decoration: underline;
}
.title-header {
    font-family: verdana;
    background: none repeat scroll 0% 0% #017AC2;
    color: #FFF;
    font-weight: 400;
    width: 100%;
    display: block;
    padding: 0.1em 0em 0.1em 0.5em;
    text-align: left;
    font-size: 18px;
}
.bct-drop-down {
    height: 2em;
    width: 10em;
    border: 1px solid;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}
.bct-day-drop-down {
    width: 8em;
}
.bct-time-drop-down {
    width: 5em;
}
.bct-drop-down-item-holder-container {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    height: calc(6em - 2px);
    margin: calc(0.5em - 1px) 0px 0px -1px;
    width: inherit;
    border-width: 1px;
    border-style: solid;
    text-align: left;
}
.bct-drop-down:hover {
    border-width: 1px 1px 0px 1px;
}
.bct-drop-down .bct-drop-down-item-holder-container {
    border-width: 0px;
    display: none;
}
.bct-drop-down:hover .bct-drop-down-item-holder-container {
    border-width: 1px;
    display: block;
}
.bct-drop-down-item-holder {
    display: table;
    width: inherit;
    background-color: #FFF;
    position: absolute;
    overflow: auto;
    margin-top: -1px;
}
.bct-drop-down-item {
    display: table-row;
    height: calc(2em - 1px);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
}
.bct-drop-down-item:hover {
    background-color: #017AC2;
    color: white;
    border-color: black;
}
.bct-drop-down-item-text {
    margin: 0em 0em 0em 0.5em;
}

/* END All Form Properties */

/* START Login Form Styles */

/* Main Container */
#login-form-inner-container {
    border: 1px solid;
    border-radius: 0.5em;
    margin: 0em 0em 1.5em;
    font-family: verdana;
    font-size: 16px !important;
}
.login-form-link {
    display: block;
    margin: 0.6em;
}
.login-form-icon {
    text-decoration: inherit;
}
#login-main-form {
    margin: 0.6em;
}
.login-form-input-with-title {
    margin: 1em 0em;
}
.login-form-input-title {
    display: block;
}
.login-form-input {
    width: calc(100% - 1em);
    height: 1.5em;
    font-size: 0.8em;
    margin: 0.5em 0em 0em;
}

/* END Login Form Styles */

/* START Profile Page */

#bct-profile-page {
    border: 1px solid;
    margin-bottom: 1em;
}
#profile-container {
    
}
.profile-page-section-title {
    display: block;
    font-size: 1.2em;
    margin: 0em;
}
.profile-page-section-title-main {
    padding: 0.5em !important;
    width: calc(100% - 1em);
}
.profile-page-section-title-sub {
    padding: 0.2em 0em;
    border-style: dotted;
    border-width: 0px 0px 1px 0px;
    margin: 1em 0em;
}
.profile-page-section-container {
    margin: 1em;
}
.profile-page-section-container-contents {
    box-shadow: 2px 2px 1px 1px #AAA;
}
#favorites-container {
    
}
.favorites-add-alert-bar {
    padding: 0.7em;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    font-size: 1.3em;
}
.favorites-full-item {
    margin: 1em 0em;
    width: 100%;
    box-shadow: 2px 4px 6px 0px #BBB;
}
.favorites-full-item-route-stop,
.favorites-full-item-full-date-time {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.favorites-full-item-route-stop {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-collapse: collapse;
}
.favorites-full-item-route-stop:last-child {
    border-width: 1px 0px 1px 0px;
}
.favorites-full-item-full-date-time {
    border-style: solid;
    border-width: 0px 0px 1px;
}
.favorites-full-item-full-date-time:nth-child(3) {
    border-width: 0px;
}
.favorites-full-item-full-date-time:nth-child(n+4) {
    border-width: 1px 0px 0px;
}
.favorites-alert-start-time,
.favorites-alert-end-time,
.favorites-alert-day-selection {
    height: 3em;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.favorites-alert-start-time:last-child,
.favorites-alert-end-time:last-child,
.favorites-alert-day-selection:last-child {
    border-width: 0px 1px 0px 0px;
}
.favorites-alert-start-time,
.favorites-alert-end-time {
    width: 28%;
}
.favorites-sub-item {
    display: table-cell;
    padding: 1em;
    border-style: solid;
    border-width: 0px 1px 0px 1px;
}
.favorites-sub-item-route {
    width: 20%;
}
.favorites-sub-item-stop {
    
}
.favorites-alert-selector-container {
    height: calc(9em + 1px);
    overflow-y: scroll;
    border-style: solid;
    border-width: 0px 1px 1px;
}

/* END Profile Page */

/* START Media Queries */

@media (max-width: 600px), (min-width: 900px) and (max-width: 1500px) {
    .favorites-alert-start-time:last-child,
    .favorites-alert-end-time:last-child,
    .favorites-alert-day-selection:last-child {
        border-width: 0px;
    }

/* END Media Queries */